<!DOCTYPE html>
<html lang="en">

<head>

<title>AQUA-motion - Языки</title>

<STYLE TYPE="text/css">
a:link {color: blue; text-decoration: none}
a:active { color: yellow; text-decoration: none}
a:visited { color: darkgreen; text-decoration: none}
a:hover { color: red; text-decoration: none}
</style>

</head>

<body bgcolor="#e3f3ff">

<h1 align="center"><font color="#0000FF">* AQUA-motion *</font><font color="#000080"><br>
Глаголы движения в воде:<br>
лексическая типология</font></h1>
<blockquote>
  <p align="center"><b><font size="4" color="#0000FF">~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
  ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~<br>
  </font></b><font size="4"><a href="/">Главная</a> | <a href="project">О
  проекте</a> | <a href="domains">Семантические зоны
  плавания</a> | <a href="systems">Системы глаголов
  плавания</a> | <a href="languages">Языки</a><br>
  <a href="methodology">Методика изучения</a> | <a href="publications">Публикации</a>
  | <a href="authors">Участники</a> | <a href="contacts">Контакты</a>
  | <a href="/gb">Гостевая</a>
  | </font><font color="#000080"> 
			<img border="0" src="english_flag.gif" width="25" height="16" align="center">
			</font><font size="4"><a href="index-engl">English Version</a>&nbsp;</font><b><font color="#000080" size="4"><br>
  </font><font size="4" color="#0000FF">~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
  ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~</font></b></p>
</blockquote>


<blockquote>

<P>&nbsp;</P>

<h2>Участники</h2>
<P><font size="4">Авторы статей сборника "<a href="volume.htm">Глаголы движения в воде: лексическая типология</a>&quot;</font></P>
<P><font size="4">(места работы и должности указаны по состоянию на осень 2006 г.):</font></P>

<P>&nbsp;</P>

<B><P><font size="4">Arad, Maya</font></B><font size="4"> — PhD, Lecturer, Dept. of Drama, Stanford University (Stanford, California 94305, U.S.A.)</font></P>

<B><P><font size="4">Аркадьев Пётр Михайлович</font></B><font size="4"> — кандидат филологических наук, м.н.с. отдела типологии и сравнительного языкознания Института славяноведения РАН (Москва)</font></P>

<B><P><font size="4">Вострикова Наталия Вячеславовна</font></B><font size="4"> — аспирант кафедры теоретической и прикладной лингвистики филологического факультета Московского государственного университета 
</font> </P>

<B><P><font size="4">Выдрин Валентин Феодосьевич</font></B><font size="4"> — доктор филологических наук, и.о. зав. отделом этнографии Африки Музея антропологии и этнографии им. Петра Великого РАН (Кунсткамера; Санкт-Петербург)</font></P>

<B><P><font size="4">Ганенков Дмитрий Сергеевич</font></B><font size="4"> — кандидат филологических наук, м.н.с. отдела кавказских языков Института языкознания РАН (Москва) 
</font> </P>

<B><P><font size="4">Голубкова Екатерина Евгеньевна</font></B><font size="4"> — доктор филологических наук, профессор кафедры лексикологии английского языка Московского государственного лингвистического университета 
</font> </P>

<B><P><font size="4">Грунтова Елена Семеновна</font></B><font size="4"> — лингвист, ABBYY Software House (Москва)</font></P>

<B><P><font size="4">Гусев Валентин Юрьевич</font></B><font size="4"> — кандидат филологических наук, н.с. сектора типологии Института языкознания РАН (Москва)</font></P>

<B><P><font size="4">Divjak, Dagmar — </font> </B><font size="4">PhD, the University of Sheffield (UK) and Science Foundation (Flanders); Lecturer in Slavic Languages and Linguistics</font></P>

<B><P><font size="4">Захарьин Борис Алексеевич</font></B><font size="4"> — доктор филологических наук, заслуженный профессор Московского государственного университета, зав. кафедрой индийской филологии Института стран Азии и Африки при МГУ 
</font> </P>

<B><P><font size="4">Кисилиер Максим Львович</font></B><font size="4"> — кандидат филологических наук, ассистент кафедры общего языкознания филологического факультета Санкт-Петербургского государственного университета, н.с. Института лингвистических исследований РАН, с.н.с. Института филологических исследований Санкт-Петербургского государственного университета</font></P>

<B><P><font size="4">Колотова Яна Валерьевна</font></B><font size="4"> — преподаватель кафедры индийской филологии Института стран Азии и Африки при МГУ 
</font> </P>

<P><B><font size="4">Копчевская-Тамм, Мария</font></B><font size="4"> (Koptjevskaja-Tamm, Maria) — доктор философии, профессор, Кафедра лингвистики Стокгольмского университета</font></P>

<B><P><font size="4">Крамарова Светлана Геннадьевна</font></B><font size="4"> — кандидат филологических наук, доцент кафедры филологии Китая, Кореи и Юго-Восточной Азии восточного факультета Санкт-Петербургского государственного университета</font></P>

<B><P><font size="4">Кузнецова Юлия Львовна</font></B><font size="4"> — аспирант Института лингвистики Российского государственного гуманитарного университета (Москва) и Yale University 
</font> </P>

<B><P><font size="4">Ландер Юрий Александрович</font></B><font size="4"> — н.с. отдела языков народов Азии и Африки Института востоковедения РАН (Москва) 
</font> </P>

<P><B><font size="4">Lemmens, Maarten</font></B><font size="4"> — Dr. hab.; Universit&#233; Lille3 &amp; CNRS, France; Ma&#238;tre de Conf&#233;rences</font></P>

<P><B><font size="4">Летучий Александр Борисович</font></B><font size="4"> — аспирант Института лингвистики Российского государственного гуманитарного университета (Москва)</font></P>

<B><P><font size="4">Ли Су Хён</font></B><font size="4"> — кандидат филологических наук, post-doc Государственного университета Кенгбук<FONT COLOR="#ff0000"> </FONT>(г. Тэгу), преподаватель отдела русского языка и русской литературы в Сеульском государственном университете 
</font> </P>

<B><P><font size="4">Майсак Тимур Анатольевич</font></B><font size="4"> — кандидат филологических наук, с.н.с. отдела кавказских языков Института языкознания РАН (Москва) 
</font> </P>

<B><P><font size="4">Мустайоки Арто</font></B><font size="4"> — доктор философии, профессор, зав. отделением славистики и балтистики Хельсинкского университета (Хельсинки) 
</font> </P>

<B><P><font size="4">Панина Анна Сергеевна</font></B><font size="4"> — кандидат филологических наук, н.с. отдела языков стран Азии и Африки Института востоковедения РАН (Москва) 
</font> </P>

<B><P><font size="4">Плунгян Владимир Александрович</font></B><font size="4"> — доктор филологических наук, профессор, зав. сектором типологии Института языкознания РАН, зав. сектором корпусной лингвистики и поэтики Института русского языка им. В.В. Виноградова РАН (Москва)</font></P>

<B><P><font size="4">Прокофьева Ирина Александровна</font></B><font size="4"> — аспирант Института лингвистики Российского государственного гуманитарного университета (Москва) 
</font> </P>

<B><P><font size="4">Протасова Екатерина</font></B><font size="4"> — доктор педагогических наук, лектор отделения славистики и балтистики Хельсинкского университета (Хельсинки) 
</font> </P>

<P><B><font size="4">Рахилина Екатерина Владимировна</font></B><font size="4"> — доктор филологических наук, зав. отделом лингвистических исследований Всероссийского института научной и технической информации РАН (Москва)</font></P>
<B><P><font size="4">Ростовцев-Попель Александр Александрович</font></B><font size="4"> — аспирант филологического факультета Санкт-Петербургского государственного университета 
</font> </P>

<B><P><font size="4">Рукодельникова Мария Борисовна</font></B><font size="4"> — кандидат филологических наук, зав. кафедрой восточных языков Института лингвистики Российского государственного гуманитарного университета (Москва) 
</font> </P>

<B><P><font size="4">Смирнитская Анна Александровна</font></B><font size="4"> — лингвист, ABBYY Software House (Москва) 
</font> </P>

<B><P><font size="4">Хохлова Людмила Викторовна</font></B><font size="4"> — кандидат филологических наук, доцент кафедры индийской филологии ИСАА при МГУ (Москва) 
</font> </P>

<B><P><font size="4">Хуршудян Виктория Гагиковна</font></B><font size="4"> — аспирант Института лингвистики Российского государственного гуманитарного университета (Москва) 
</font> </P>

<B><P><font size="4">Чаранджит Сингх</font></B><font size="4"> — кандидат филологических наук, профессор, преподаватель русского языка в Университете им. Джавахарлала Неру (Дели) 
</font> </P>

<B><P><font size="4">Шеманаева Ольга Юрьевна</font></B><font size="4"> — аспирант Института лингвистики Российского государственного гуманитарного университета (Москва), м.н.с. отдела лингвистических исследований Всероссийского института научной и технической информации РАН (Москва) 
</font> </P>


<P>&nbsp;</P>

</blockquote>

<hr>

<blockquote>
<p align="center">Сайт создан в 2006 г. при финансовой поддержке<br>
<a href="http://www.rfbr.ru" target="_blank"><b>Российского фонда
фундаментальных исследований</b></a><br>
(грант № 05-06-80400а)
</blockquote>


</body>

</html>
