<!DOCTYPE html>
<html lang="en">

<head>

<title>AQUA-motion - Языки</title>

<STYLE TYPE="text/css">
a:link {color: blue; text-decoration: none}
a:active { color: yellow; text-decoration: none}
a:visited { color: darkgreen; text-decoration: none}
a:hover { color: red; text-decoration: none}
</style>

</head>

<body bgcolor="#e3f3ff">

<h1 align="center"><font color="#0000FF">* AQUA-motion *</font><font color="#000080"><br>
Глаголы движения в воде:<br>
лексическая типология</font></h1>
<blockquote>
  <p align="center"><b><font size="4" color="#0000FF">~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
  ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~<br>
  </font></b><font size="4"><a href=".">Главная</a> | <a href="project">О
  проекте</a> | <a href="domains">Семантические зоны
  плавания</a> | <a href="systems">Системы глаголов
  плавания</a> | <a href="languages">Языки</a><br>
  <a href="methodology">Методика изучения</a> | <a href="publications">Публикации</a>
  | <a href="authors">Участники</a> | <a href="contacts">Контакты</a>
  | <a href="gb">Гостевая</a>
  | </font><font color="#000080"> 
			<img border="0" src="english_flag.gif" width="25" height="16" align="center">
			</font><font size="4"><a href="index-engl">English Version</a>&nbsp;</font><b><font color="#000080" size="4"><br>
  </font><font size="4" color="#0000FF">~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
  ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~</font></b></p>
</blockquote>

<blockquote>

<P>&nbsp;</P>

<B><h2 align="center">Бедные системы в кавказских языках</h2>
<P>&nbsp;</P>
</B>
<h3>1. Системы с глаголом активного плавания</h3>

<TABLE BORDER CELLSPACING=1 CELLPADDING=7 WIDTH=703>
<TR><TD WIDTH="32%" VALIGN="TOP">
<B><P><font size="4">Язык, глагол</font></B></TD>
<TD WIDTH="63%" VALIGN="TOP">
<B><P><font size="4">Контексты употребления</font></B></TD>
</TR>
<TR><TD WIDTH="32%" VALIGN="TOP">
<P><a name="icari"><font size="4">Ицаринский язык</font></a><font size="4">:</font></P>
<I><P><font size="4">гьин даркьуй<br>
</font>
</I><font size="4">("воду делать") </font> </P>
  </TD>
<TD WIDTH="63%" VALIGN="TOP">
<P><font size="4">Способность человека (активно) плавать</font></TD>
</TR>
<TR><TD WIDTH="32%" VALIGN="TOP">
<P><a name="karata"><font size="4">Каратинский язык</font></a><font size="4">:</font></P>
<I><P><font size="4">квалчI&#257;лъа</font></I></TD>
<TD WIDTH="63%" VALIGN="TOP">
<P><font size="4">Активное плавание (человека)</font></TD>
</TR>
<TR><TD WIDTH="32%" VALIGN="TOP">
<P><a name="dargi"><font size="4">Даргинский (лит.) язык</font></a><font size="4">:</font></P>
<I><P><font size="4">куртI икIес<br>
</font>
</I><font size="4">("плавание говорить") </font> </P>
  </TD>
<TD WIDTH="63%" VALIGN="TOP">
<P><font size="4">Активное направленное плавание</font></TD>
</TR>
<TR><TD WIDTH="32%" VALIGN="TOP">
<P><a name="agul"><font size="4">Агульский язык</font></a><font size="4">:</font></P>
<I><P><font size="4">сирнав(-ар) (а)кьас<br>
</font>
</I><font size="4">("плавание делать"),</font></P>
<I><P><font size="4">лепе(-яр) (а)кьас<br>
</font>
</I><font size="4">("волну делать") </font> </P>
  </TD>
<TD WIDTH="63%" VALIGN="TOP">
<P><font size="4">Активное плавание</font></TD>
</TR>
<TR><TD WIDTH="32%" VALIGN="TOP">
<P><a name="ingush"><font size="4">Ингушский язык</font></a><font size="4">:</font></P>
<I><P><font size="4">наьк де (нек де)<br>
</font>
</I><font size="4">("плавание делать") </font> </P>
  </TD>
<TD WIDTH="63%" VALIGN="TOP">
<P><font size="4">Активное плавание </font> </TD>
</TR>
<TR><TD WIDTH="32%" VALIGN="TOP">
<P><a name="lezgi"><font size="4">Лезгинский язык</font></a><font size="4">:</font></P>
<I><P><font size="4">сирнав авун<br>
</font>
</I><font size="4">("плавание делать") </font> </P>
  </TD>
<TD WIDTH="63%" VALIGN="TOP">
<P><font size="4">Активное плавание</font></TD>
</TR>
<TR><TD WIDTH="32%" VALIGN="TOP">
<P><font size="4">Общие глаголы движения, бытийные глаголы</font></TD>
<TD WIDTH="63%" VALIGN="TOP">
<P><font size="4">Все прочие контексты</font></TD>
</TR>
</TABLE>


<P><font size="4">Подробнее см.:&nbsp;<br>Т. А. Майсак, А. А. Ростовцев-Попель, В. Г. Хуршудян. Системы глаголов плавания в кавказских языках // Т. А. Майсак, Е. В. Рахилина (ред.) 
<a href="volume">Глаголы движения в воде: лексическая типология</a>. М.: Индрик, 2007. 
[<a href="32-Maisak-cauc.pdf">PDF</a>]</font></P>


<P>&nbsp;</P>

<h3>2. Системы с глаголом плавания широкого значения</h3>

<TABLE BORDER CELLSPACING=1 CELLPADDING=7 WIDTH=703>
<TR><TD WIDTH="33%" VALIGN="TOP">
<B><P><font size="4">Язык, глагол</font></B></TD>
<TD WIDTH="62%" VALIGN="TOP">
<B><P><font size="4">Контексты употребления</font></B></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<P><a name="adyghe"><font size="4">Адыгейский язык</font></a><font size="4">: 
</font> </P>
<I><P><font size="4">есын</font></I></TD>
<TD WIDTH="62%" VALIGN="TOP">
<P><font size="4">Активное плавание </font> </P>
<P><font size="4">Перемещение на судах (лодках, плотах) при приложении физических усилий</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<P><a name="kabarda"><font size="4">Кабардино-черкесский язык</font></a><font size="4">:</font></P>
<I><P><font size="4">ерсын</font></I></TD>
<TD WIDTH="62%" VALIGN="TOP">
<P><font size="4">Активное плавание (для ненаправленного плавания предпочтительна конструкция с глаголом позиции) 
</font> </P>
<P><font size="4">Перемещение на управляемых судах</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<P><a name="avar"><font size="4">Аварский язык</font></a><font size="4">:</font></P>
<I><P><font size="4">лъедезе</font></I></TD>
<TD WIDTH="62%" VALIGN="TOP">
<P><font size="4">Активное плавание </font> </P>
<P><font size="4">все контексты активного плавания, а также плавание Перемещение судов и людей на судах</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<P><a name="lak"><font size="4">Лакский язык</font></a><font size="4">:</font></P>
<I><P><font size="4">гьузун</font></I></TD>
<TD WIDTH="62%" VALIGN="TOP">
<P><font size="4">Активное плавание </font> </P>
<P><font size="4">Нахождение на поверхности воды</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<P><font size="4">Общие глаголы движения, бытийные и позиционные глаголы</font></TD>
<TD WIDTH="62%" VALIGN="TOP">
<P><font size="4">Все прочие контексты</font></TD>
</TR>
</TABLE>


<P><font size="4">Подробнее см.:&nbsp;<br>Т. А. Майсак, А. А. Ростовцев-Попель, В. Г. Хуршудян. Системы глаголов плавания в кавказских языках // Т. А. Майсак, Е. В. Рахилина (ред.) 
<a href="volume">Глаголы движения в воде: лексическая типология</a>. М.: Индрик, 2007. 
[<a href="32-Maisak-cauc.pdf">PDF</a>]</font></P>



<P>&nbsp;</P>



</blockquote>

<hr>

<blockquote>
<p align="center">Сайт создан в 2006 г. при финансовой поддержке<br>
<a href="http://www.rfbr.ru" target="_blank"><b>Российского фонда
фундаментальных исследований</b></a><br>
(грант № 05-06-80400а)
</blockquote>


</body>

</html>
