<!DOCTYPE html>
<html lang="en">

<head>

<title>AQUA-motion - Языки</title>

<STYLE TYPE="text/css">
a:link {color: blue; text-decoration: none}
a:active { color: yellow; text-decoration: none}
a:visited { color: darkgreen; text-decoration: none}
a:hover { color: red; text-decoration: none}
</style>

</head>

<body bgcolor="#e3f3ff">

<h1 align="center"><font color="#0000FF">* AQUA-motion *</font><font color="#000080"><br>
Глаголы движения в воде:<br>
лексическая типология</font></h1>
<blockquote>
  <p align="center"><b><font size="4" color="#0000FF">~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
  ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~<br>
  </font></b><font size="4"><a href=".">Главная</a> | <a href="project">О
  проекте</a> | <a href="domains">Семантические зоны
  плавания</a> | <a href="systems">Системы глаголов
  плавания</a> | <a href="languages">Языки</a><br>
  <a href="methodology">Методика изучения</a> | <a href="publications">Публикации</a>
  | <a href="authors">Участники</a> | <a href="contacts">Контакты</a>
  | <a href="gb">Гостевая</a>
  | </font><font color="#000080"> 
			<img border="0" src="english_flag.gif" width="25" height="16" align="center">
			</font><font size="4"><a href="index-engl">English Version</a>&nbsp;</font><b><font color="#000080" size="4"><br>
  </font><font size="4" color="#0000FF">~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
  ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~</font></b></p>
</blockquote>


<blockquote>

<P>&nbsp;</P>

<h2>Семантические зоны плавания</h2>
<P><font size="4">Типологические данные, полученные нами в
ходе проекта, позволяют утверждать, что
ключевым для области движения и нахождения
в воде является противопоставление между
ситуациями, которые мы условно называем <B><font color="#FF00FF">АКТИВНЫМ</font></B> 
и <B><font color="#0000FF">ПАССИВНЫМ</font></B>  плаванием. Прототипическое
активное плавание связано с приложением (одушевленным)
субъектом усилий к движению в воде, тогда
как пассивное плавание предполагает
перемещение субъекта за счет движения
среды (например, по течению) или его более
или менее неподвижное нахождение на
поверхности или в толще жидкости (служащей
в данном случае своего рода &quot;опорой&quot;
для субъекта). Говоря упрощенно, в
естественно-языковой картине мира обычно
лексически противопоставляются движение в
воде <B>людей</B>  и движение в воде <B>предметов</B>. </font> </P>
<P><font size="4">Обратим внимание, что это отличает
плавание от многих других способов
движения, где такого противопоставления
нет – например, 'лезть' или 'бежать'
применимы только к живым существам и
соответствующие им действия активны и
контролируемы. Областью, для которой
разделение зон активного и пассивного
движения очевидным образом релевантно,
является движение в воздухе<B> – </B>и в этом
отношении эта область близка к движению в
воде. Лететь, как и плыть, можно, прилагая
усилия и совершая специальные физические
движения – так летит птица. А можно лететь,
не прилагая специальных усилий, а лишь за
счет потока воздуха – так летит пух или
парит орел. Таким образом, активная и
пассивная ситуация противопоставляются не
столько по типу субъекта, сколько по <B>способу движения </B>–
это касается и глаголов плавания.</font></P>
<P><font size="4">Между тем, наряду с очевидно активными и
очевидно пассивными ситуациями движения в
воде есть и такие, которые в отношении
противопоставления по активности /
пассивности занимают, так сказать,
промежуточное место – таково &quot;опосредованное&quot;
перемещение людей с использованием водных
транспортных средств, т.е. <B><font color="#008000">ДВИЖЕНИЕ СУДОВ И ЛЮДЕЙ НА СУДАХ</font>.</B> 
Оно может осознаваться и как разновидность
активного, и как разновидность пассивного
плавания: с одной стороны, движение судна
самостоятельно и управляемо – значит, в нем
есть активная составляющая; с другой
стороны, плывущее судно все же
неодушевленно и может легко
концептуализироваться как пассивный
участник – в особенности, если учесть, что
самые простые, прототипические средства
передвижения человека по воде (типа плота и
лодки) используют силу течения или ветра в
качестве движущей.</font></P>
<P><font size="4">Таким образом, применительно к области
плавания можно говорить о <B>шкале активности/пассивности,</B> 
которая различает три зоны. Первая зона –
активное плавание, крайний полюс ее
антропоцентричен: это люди, активно и
самостоятельно передвигающиеся по воде.
Другая зона – на противоположном конце
шкалы – это пассивное плавание. Ее полюс (т.е.
&quot;зона наибольшей пассивности&quot;) –
нахождение практически неподвижного
легкого предмета (или предметов) на
поверхности жидкости в небольшом сосуде: ср.
чаинки, плавающие в стакане чая, или кусочки
морковки на поверхности супа. Более
подвижны (а значит, дальше расположены от
полюса пассивности) предметы на
поверхности больших водоемов – ср. щепки в
море, – а еще более &quot;активны&quot; в этой
зоне предметы, движущиеся по течению, – ср.
сплавляемые по реке бревна. Между первой (активной)
и второй (пассивной) зонами на такой шкале
располагаются ситуации перемещения судов и
людей на судах:</font></P>

<B><P ALIGN="CENTER"><i><font size="4">Шкала активного / пассивного
плавания</font></i></P>
</B>
<div align="center">
	<TABLE BORDER="1" CELLSPACING=1 CELLPADDING=7 WIDTH=700>
<TR><TD WIDTH="239" VALIGN="TOP" align="center">
<P><b><font size="4">Активное плавание</font></b></TD>
<TD WIDTH="158" VALIGN="TOP" align="center"><b><font size="4">&nbsp;</font></b></TD>
<TD WIDTH="249" VALIGN="TOP" align="center">
<P><b><font size="4">Пассивное плавание</font></b></TD>
</TR>
<TR><TD WIDTH="239" VALIGN="TOP" BGCOLOR="#FF00FF" align="center">

<P>&nbsp;</TD>
<TD WIDTH="158" VALIGN="TOP" BGCOLOR="#008000" align="center">&nbsp;</TD>
<TD WIDTH="249" VALIGN="TOP" BGCOLOR="#0000FF" align="center">&nbsp;</TD>
</TR>
<TR><TD WIDTH="239" VALIGN="TOP" align="left">
<P><font size="4">&nbsp;&nbsp;&nbsp;&nbsp; люди /&nbsp;<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
рыбы /&nbsp;<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;птицы
</font> </P>
  </TD>



<TD WIDTH="158" VALIGN="TOP" align="left">
<P><font size="4">люди на судах /<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
суда</font></P>

	</TD>
<TD WIDTH="249" VALIGN="TOP" align="left">
<P><font size="4">бревно по течению /&nbsp;<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
щепки в море /&nbsp;<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;морковка в супе</font></P>
</TD>
</TR>
</TABLE>


</div>


<P align="left"><font size="4">В конкретных языках глаголы поля плавания
по-разному членят эту шкалу: говоря
упрощенно, чем более богата система, тем
больше на шкале оказывается
самостоятельных &quot;отрезков&quot; (обслуживаемых
конкретным глаголом) и тем меньше эти &quot;отрезки&quot;
по длине; напротив, наибеднейшая система
вообще никак не должна членить эту шкалу –
хотя таких языков нам обнаружить и не
удалось. </font> </P>

<P align="left"><font size="4">Дополнительные противопоставления могут
обнаруживаться в каждой из трех зон
плавания (см. также <a href="systems">Системы глаголов
плавания</a>). В целом же исследованный нами
материал позволяет выделить следующие
семантические параметры как наиболее
релевантные для способа движения и
нахождения в воде: </font> </P>



<B><P></P>

<h3>Параметры активного плавания:</h3>

<UL>

<UL>
</B><LI><font size="4">умение (активно) плавать;</LI>
</font>
<P><LI><font size="4">активное плавание человека (в
  определенном направлении / без
  определенного направления);</LI>
</font>
<P><LI><font size="4">активное плавание человека (с
  определенной целью / без определенной цели,
  для развлечения);</LI>
</font>
<P><LI><font size="4">плавание &quot;водных&quot; животных (мелких
  / крупных) – рыб, дельфинов, китов,
  крокодилов, бегемотов и пр.;</LI>
</font>
<P><LI><font size="4">плавание водоплавающих птиц – лебедей,
  уток и пр.;</LI>
</font>
<P><LI><font size="4">плавание &quot;сухопутных&quot; животных –
  собак, лошадей и пр.;</LI>
</font>
<P><LI><font size="4">плавание человека / животных под водой.</font></LI></UL>
</UL>


<B>

<h3>Параметры плавания судов и людей на
судах:</h3>

<UL>

<UL>
</B><LI><font size="4">управляемое перемещение судна (по
  определенному маршруту / без
  определенного маршрута),</LI>
</font>
<P><LI><font size="4">перемещение человека (&quot;капитана&quot;)
  на управляемом им судне с приложением
  физической активности (например, при
  гребле);</LI>
</font>
<P><LI><font size="4">перемещение человека (&quot;капитана&quot;)
  на управляемом судне (без приложения
  физической активности);</LI>
</font>
<P><LI><font size="4">перемещение человека (&quot;пассажира&quot;)
  на управляемом судне;</LI>
</font>
<P><LI><font size="4">перемещение судов / на судах различных
  типов (парусных, весельных, моторных и пр.);</LI>
</font>
<P><LI><font size="4">перемещение судов / на судах по водоемам
  различных типов (морям, океанам, рекам,
  озерам и пр.);</LI>
</font>
<P><LI><font size="4">перемещение судов / на судах по течению
  (&quot;спуск&quot;);</LI>
</font>
<P><LI><font size="4">перемещение судов / на судах против
  течения (&quot;подъем&quot;);</LI>
</font>
<P><LI><font size="4">неуправляемый &quot;дрейф&quot; судна (&quot;парусника
  со сломанной мачтой&quot;) / человека на таком
  судне.</font></LI></UL>
</UL>


<B>

<h3>Параметры пассивного плавания:</h3>

<UL>

<UL>
</B><LI><font size="4">перемещение по течению (легкого /
  притопленного субъекта);</LI>
</font>
<P><LI><font size="4">ненаправленное движение на поверхности
  (в разные стороны);</LI>
</font>
<P><LI><font size="4">всплытие предмета на поверхность;</LI>
</font>
<P><LI><font size="4">нахождение на поверхности без
  заметного движения;</LI>
</font>
<P><LI><font size="4">&quot;покачивание на волнах&quot; на
  поверхности (волнообразные движения вверх
  / вниз);</LI>
</font>
<P><LI><font size="4">нахождение в закрытом объеме (стакане,
  тарелке, бутылке и пр.);</LI>
</font>
<P><LI><font size="4">способность (легкого) предмета не
  тонуть, оставаясь на поверхности;</LI>
</font>
<P><LI> <font size="4">течение самого потока жидкости.</font></LI></UL>
</UL>


<P> <font size="4">&nbsp;&nbsp;&nbsp; </font> </P>


<P align="left"><font size="4">Подробнее о семантических зонах глаголов
плавания см.: </font> </P>
<P align="left"><font size="4">Т. А. Майсак, Е. В. Рахилина. Глаголы
движения и нахождения в воде: лексические
системы и семантические параметры // Т. А.
Майсак, Е. В. Рахилина (ред.) <a href="volume">Глаголы движения
в воде: лексическая типология</a>. М.: Индрик, 2007. [<a href="4-Maisak-Rakhilina.pdf">PDF</a>]</font></P>

</blockquote>

<hr>

<blockquote>
<p align="center">Сайт создан в 2006 г. при финансовой поддержке<br>
<a href="http://www.rfbr.ru" target="_blank"><b>Российского фонда
фундаментальных исследований</b></a><br>
(грант № 05-06-80400а)
<p align="center"><a href="indexl"><img border="0" src="Image1.jpg" alt="На главную | To the main page" width="134" height="116"></a></p>
</blockquote>

</body>

</html>
