<!DOCTYPE html>
<html lang="en">

<head>

<title>AQUA-motion - Языки</title>

<STYLE TYPE="text/css">
a:link {color: blue; text-decoration: none}
a:active { color: yellow; text-decoration: none}
a:visited { color: darkgreen; text-decoration: none}
a:hover { color: red; text-decoration: none}
</style>

</head>

<body bgcolor="#e3f3ff">

<h1 align="center"><font color="#0000FF">* AQUA-motion *</font><font color="#000080"><br>
Глаголы движения в воде:<br>
лексическая типология</font></h1>
<blockquote>
  <p align="center"><b><font size="4" color="#0000FF">~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
  ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~<br>
  </font></b><font size="4"><a href=".">Главная</a> | <a href="project">О
  проекте</a> | <a href="domains">Семантические зоны
  плавания</a> | <a href="systems">Системы глаголов
  плавания</a> | <a href="languages">Языки</a><br>
  <a href="methodology">Методика изучения</a> | <a href="publications">Публикации</a>
  | <a href="authors">Участники</a> | <a href="contacts">Контакты</a>
  | <a href="gb">Гостевая</a>
  | </font><font color="#000080"> 
			<img border="0" src="english_flag.gif" width="25" height="16" align="center">
			</font><font size="4"><a href="index-engl">English Version</a>&nbsp;</font><b><font color="#000080" size="4"><br>
  </font><font size="4" color="#0000FF">~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
  ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~</font></b></p>
</blockquote>

<blockquote>

<P>&nbsp;</P>

<B><h2 align="center">Системы глаголов плавания&nbsp;<br>
 в языках Дальнего Востока и Океании</h2>
</B>
<P>&nbsp;</P>
<h3><a name="chinese">Китайский язык</a></h3>

<TABLE BORDER CELLSPACING=1 CELLPADDING=7 WIDTH=619>
<TR><TD WIDTH="33%" VALIGN="TOP">
<B><P><font size="4">Глагол</font></B></TD>
<TD WIDTH="67%" VALIGN="TOP">
<B><P><font size="4">Контексты употребления</font></B></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">y&#243;u</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Активное плавание (все субъекты)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">-y&#466;ng</font></I><font size="4"> </font> </TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Активное плавание определенным стилем (в сочетаниях; ср.
<I>p&#225;y&#466;ng</I> 'плыть кролем', <I>z&#236;y&#243;uy&#466;ng</I> 'плыть вольным стилем', <I>w&#257;y&#466;ng</I> 'плыть брассом', <I>qi&#225;ny&#466;ng</I> 'плыть под водой' и т.п.)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">li&#250; </font> </I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Течение воды (основное средство) </font> </P>
<P><font size="4">Пассивное перемещение (в сочетаниях; ср. <I>pi&#257;oli&#250;</I> 'плыть по течению, дрейфовать', <I>li&#250;pi&#257;o</I> 'носиться по волнам')</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">pi&#257;o</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Пассивное ненаправленное перемещение или нахождение на поверхности 
</font> </P>
<P><font size="4">Пассивное перемещение по течению (обычно в сочетании с общими глаголами движения) 
</font> </P>
<P><font size="4">Всплытие (пассивное)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">f&#250;</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Пассивное ненаправленное перемещение или нахождение на поверхности 
</font> </P>
<P><font size="4">Всплытие (пассивное)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">h&#225;ngx&#237;ng</font></I><font size="4">, <I>h&#225;ngh&#259;i </I>и др.</font></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Управляемое движение судна, человека на судне (прежде всего по морю)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<P><font size="4">Общие глаголы движения</font></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Управляемое движение судна, человека на судне </font> </TD>
</TR>
</TABLE>


<P><font size="4">Подробнее см.:&nbsp;<br>М. Б. Рукодельникова. Глаголы перемещения в воде в китайском языке  // Т. А. Майсак, Е. В. Рахилина (ред.) 
<a href="volume">Глаголы движения в воде: лексическая типология</a>. М.: Индрик, 2007. 
[<a href="28-Rukodelnikova.pdf">PDF</a>]</font></P>

<P>&nbsp;</P>
<h3><a name="korean">Корейский язык</a></h3>

<TABLE BORDER CELLSPACING=1 CELLPADDING=7 WIDTH=619>
<TR><TD WIDTH="33%" VALIGN="TOP">
<B><P><font size="4">Глагол</font></B></TD>
<TD WIDTH="67%" VALIGN="TOP">
<B><P><font size="4">Контексты употребления</font></B></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">heyyem chita<br>
</font>
</I><font size="4">("плавание бить") </font> </P>
  </TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Активное плавание (все субъекты)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">swuyeng hata<br>
</font>
</I><font size="4">("плавание (кит.) делать") </font> </P>
  </TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Активное плавание (человек; обычно о занятии спортом)</font></P>
</TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">hanghay hata<br>
</font>
</I><font size="4">("мореплавание (кит.) делать")</font><I><font size="4">
</font> </I> </P>
  </TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Управляемое движение судна, человека на судне (с определенной целью; обычно по морю)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">phyolyu hata<br>
</font>
</I><font size="4">("дрейф (кит.) делать") </font> </P>
  </TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Пассивное перемещение, неуправляемый дрейф (обычно человек в море или судно после кораблекрушения) 
</font> </TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">ttuta </font> </I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Пассивное перемещение по течению (обычно в сочетании с общими глаголами движения)</font></P>
<P><font size="4">Нахождение на поверхности или в воде</font></P>
<P><font size="4">Способность держаться на воде и не тонуть </font> </P>
<P><font size="4">Всплытие (в т.ч. активное)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<P><font size="4">Общие глаголы движения</font></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Управляемое движение судна, человека на судне </font> </TD>
</TR>
</TABLE>


<P><font size="4">Подробнее см.:&nbsp;<br>Су Хён Ли, Т. А. Майсак. Глаголы перемещения в воде в корейском языке // Т. А. Майсак, Е. В. Рахилина (ред.) 
<a href="volume">Глаголы движения в воде: лексическая типология</a>. М.: Индрик, 2007. 
[<a href="30-Lee-Maisak.pdf">PDF</a>]</font></P>

<P>&nbsp;</P>
<h3><a name="japanese">Японский язык</a></h3>
<P><font size="4">&lt;не учитываются китаизмы&gt;</font></P>

<TABLE BORDER CELLSPACING=1 CELLPADDING=7 WIDTH=619>
<TR><TD WIDTH="33%" VALIGN="TOP">
<B><P><font size="4">Глагол</font></B></TD>
<TD WIDTH="67%" VALIGN="TOP">
<B><P><font size="4">Контексты употребления</font></B></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">оёгу</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Активное плавание (все субъекты)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">нагарэру </font> </I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Пассивное перемещение по течению</font></P>
<P><font size="4">Течение воды (основное средство)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">уку</font></I><font size="4">,</font><I><font size="4"> укабу</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Нахождение на поверхности или в воде </font> </P>
<P><font size="4">Всплытие (пассивное)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">тадаёу</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Пассивное ненаправленное перемещение, неуправляемый дрейф</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<P><font size="4">Общие глаголы движения</font></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Управляемое движение судна, человека на судне </font> </TD>
</TR>
</TABLE>


<P><font size="4">Подробнее см.:&nbsp;<br>А. С. Панина. Выражение перемещения и нахождения в воде в японском языке // Т. А. Майсак, Е. В. Рахилина (ред.) 
<a href="volume">Глаголы движения в воде: лексическая типология</a>. М.: Индрик, 2007. 
[<a href="29-Panina.pdf">PDF</a>]</font></P>

<P>&nbsp;</P>
<h3><a name="malay">Индонезийский язык</a></h3>

<TABLE BORDER CELLSPACING=1 CELLPADDING=7 WIDTH=619>
<TR><TD WIDTH="33%" VALIGN="TOP">
<B><P><font size="4">Глагол</font></B></TD>
<TD WIDTH="67%" VALIGN="TOP">
<B><P><font size="4">Контексты употребления</font></B></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">berenang</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Активное плавание (все субъекты) </font> </P>
<P><font size="4">Нахождение в воде &lt;периферийно&gt;</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">menyelam</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Активное погружение (человека, судна)</font></P>
<P><font size="4">Активное плавание под водой</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">berlayar<br>
</font>
</I><font size="4">&lt;от <I>layar</I> 'парус'&gt; </font> </P>
  </TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Управляемое движение судна (не только парусного), человека на судне 
</font> </TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">melaut<br>
</font>
</I><font size="4">&lt;от <I>laut</I> 'море'&gt; и др. </font> </P>
  </TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Управляемое движение судна, человека на судне (со спецификацией места: море, озеро, пролив и т.п)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">berkapal<br>
</font>
</I><font size="4">&lt;от <I>kapal </I>'корабль'&gt; и др.</font></P>
  </TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Управляемое движение человека на судне (со спецификацией средства: корабль, лодка, плот и т.п.)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">hanyut</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Пассивное перемещение, неуправляемый дрейф ('быть относимым')</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">terapung</font></I><font size="4"> и</font><I><font size="4"> mengambang</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Пассивное перемещение и нахождение на поверхности или в воде</font></P>
<P><font size="4">Способность держаться на воде и не тонуть </font> </P>
<P><font size="4">Всплытие (пассивное)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">terombang-ambing</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Пассивное ненаправленное перемещение и нахождение на поверхности ('качаться на волнах')</font></TD>
</TR>
</TABLE>


<P><font size="4">Подробнее см.:&nbsp;<br>Ю. А. Ландер, С. Г. Крамарова. Индонезийские глаголы плавания и их система // Т. А. Майсак, Е. В. Рахилина (ред.) 
<a href="volume">Глаголы движения в воде: лексическая типология</a>. М.: Индрик, 2007. 
[<a href="31-Lander-Kramarova.pdf">PDF</a>]</font></P>




<P>&nbsp;</P>




</blockquote>

<hr>

<blockquote>
<p align="center">Сайт создан в 2006 г. при финансовой поддержке<br>
<a href="http://www.rfbr.ru" target="_blank"><b>Российского фонда
фундаментальных исследований</b></a><br>
(грант № 05-06-80400а)
</blockquote>


</body>

</html>
