<!DOCTYPE html>
<html lang="en">

<head>

<title>AQUA-motion - Языки</title>

<STYLE TYPE="text/css">
a:link {color: blue; text-decoration: none}
a:active { color: yellow; text-decoration: none}
a:visited { color: darkgreen; text-decoration: none}
a:hover { color: red; text-decoration: none}
</style>

</head>

<body bgcolor="#e3f3ff">

<h1 align="center"><font color="#0000FF">* AQUA-motion *</font><font color="#000080"><br>
Глаголы движения в воде:<br>
лексическая типология</font></h1>
<blockquote>
  <p align="center"><b><font size="4" color="#0000FF">~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
  ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~<br>
  </font></b><font size="4"><a href="/">Главная</a> | <a href="project">О
  проекте</a> | <a href="domains">Семантические зоны
  плавания</a> | <a href="systems">Системы глаголов
  плавания</a> | <a href="languages">Языки</a><br>
  <a href="methodology">Методика изучения</a> | <a href="publications">Публикации</a>
  | <a href="authors">Участники</a> | <a href="contacts">Контакты</a>
  | <a href="/gb">Гостевая</a>
  | </font><font color="#000080"> 
			<img border="0" src="english_flag.gif" width="25" height="16" align="center">
			</font><font size="4"><a href="index-engl">English Version</a>&nbsp;</font><b><font color="#000080" size="4"><br>
  </font><font size="4" color="#0000FF">~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
  ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~</font></b></p>
</blockquote>


<blockquote>



<P>&nbsp;</P>


<B><h2 align="center">Системы глаголов плавания германских языков</h2>
</B>
<P>&nbsp;</P>
<h3><a name="english">Английский язык</a></h3>

<TABLE BORDER CELLSPACING=1 CELLPADDING=7 WIDTH=619>
<TR><TD WIDTH="33%" VALIGN="TOP">
<B><P><font size="4">Глагол</font></B></TD>
<TD WIDTH="67%" VALIGN="TOP">
<B><P><font size="4">Контексты употребления</font></B></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">swim</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Активное плавание (все типы)</font></P>
<P><font size="4">Нахождение на поверхности или в воде </font> </P>
<P><font size="4">Управляемое движение судна, человека на судне </font> </P>
<P><font size="4">Течение воды (потоков, морских волн) &lt;периферийно&gt;</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">sail</font></I><font size="4"><BR>
(от <I>sail</I> 'парус')</font></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Управляемое движение судна (исходно — парусного), человека на судне</font></P>
<P><font size="4">Активное плавание птиц</font></P>
<P><font size="4">Плавное пассивное перемещение &lt;периферийно&gt;</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">navigate</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Управляемое движение судна, человека на судне</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">drift</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Пассивное перемещение, дрейф (под воздействием ветра, течения)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">float</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Нахождение или пассивное ненаправленное перемещение по поверхности</font></P>
<P><font size="4">Пассивное перемещение по течению (при контекстной поддержке)</font></P>
<P><font size="4">Способность держаться на воде и не тонуть </font> </TD>
</TR>
</TABLE>


<P><font size="4">Подробнее см.:&nbsp;<br>
 Е. Е. Голубкова, Е. В.Рахилина. Глаголы плавания в современном английском языке // Т. А. Майсак, Е. В. Рахилина (ред.) 
<a href="volume">Глаголы движения в воде: лексическая типология</a>. М.: Индрик, 2007. 
[<a href="6-Golubkova-Rakhilina.pdf">PDF</a>]</font></P>

<P>&nbsp;</P>
<h3><a name="swedish">Шведский язык</a></h3>

<TABLE BORDER CELLSPACING=1 CELLPADDING=7 WIDTH=619>
<TR><TD WIDTH="33%" VALIGN="TOP">
<B><P><font size="4">Глагол</font></B></TD>
<TD WIDTH="67%" VALIGN="TOP">
<B><P><font size="4">Контексты употребления</font></B></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">simma</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Активное плавание (все типы)</font></P>
<P><font size="4">Нахождение в воде в ограниченном объеме</font></P>
<P><font size="4">Управляемое человека на судне &lt;устар.&gt;</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">flyta</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Пассивное перемещение по течению </font> </P>
<P><font size="4">Нахождение в воде </font> </P>
<P><font size="4">Течение воды (медленное, плавное движение потоков)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">segla<br>
</font>
</I><font size="4">(от <I>segel </I>'парус') </font> </P>
  </TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Управляемое движение судна (преимущественно парусного), человека на судне</font></P>
<P><font size="4">Активное плавание птиц &lt;периферийно&gt;</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">driva</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Пассивное перемещение, дрейф (под воздействием ветра, течения)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<P><font size="4">Общие глаголы движения</font></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Управляемое движение моторных судов и пассажиров на них</font></TD>
</TR>
</TABLE>


<P><font size="4">Подробнее см.: <br>
М. Копчевская-Тамм. Глаголы перемещения в воде в шведском языке // Т. А. Майсак, Е. В. Рахилина (ред.) 
<a href="volume">Глаголы движения в воде: лексическая типология</a>. М.: Индрик, 2007. 
[<a href="7-Koptjevskaja-Tamm.pdf">PDF</a>]</font></P>
<FONT SIZE=2>
<P>&nbsp;</P>
</FONT><h3><a name="dutch">Нидерландский язык</a></h3>

<TABLE BORDER CELLSPACING=1 CELLPADDING=7 WIDTH=619>
<TR><TD WIDTH="33%" VALIGN="TOP">
<B><P><font size="4">Глагол</font></B></TD>
<TD WIDTH="67%" VALIGN="TOP">
<B><P><font size="4">Контексты употребления</font></B></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">zwemmen</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Активное плавание (все типы)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">varen </font> </I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Управляемое движение судна, человека на судне</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">zeilen<br>
</font>
</I><font size="4">(от <I>zeil </I>'парус') </font> </P>
  </TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Управляемое движение парусного судна, человека на судне</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">drijven</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Пассивное перемещение по течению </font> </P>
<P><font size="4">Нахождение в воде </font> </P>
<P><font size="4">Способность держаться на воде и не тонуть </font> </TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">dobberen </font> </I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Нахождение на поверхности (покачивание на волнах)</font></TD>
</TR>
</TABLE>


<P><font size="4">Подробнее см.: <br>
D. Divjak, M. Lemmens. Lexical conflation patterns in Dutch aquamotion verbs // Т. А. Майсак, Е. В. Рахилина (ред.) 
<a href="volume">Глаголы движения в воде: лексическая типология</a>. М.: Индрик, 2007. 
[<a href="8-Divjak-Lemmens.pdf">PDF</a>]</font></P>
<P>&nbsp;</P>
<h3><a name="german">Немецкий язык</a></h3>

<TABLE BORDER CELLSPACING=1 CELLPADDING=7 WIDTH=619>
<TR><TD WIDTH="33%" VALIGN="TOP">
<B><P><font size="4">Глагол</font></B></TD>
<TD WIDTH="67%" VALIGN="TOP">
<B><P><font size="4">Контексты употребления</font></B></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">schwimmen </font> </I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Активное плавание (все типы)</font></P>
<P><font size="4">Управляемое движение судна </font> </P>
<P><font size="4">Пассивное перемещение по течению</font></P>
<P><font size="4">Нахождение на поверхности или в воде </font> </P>
<P><font size="4">Способность держаться на воде и не тонуть</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">treiben </font> </I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Пассивное перемещение по поверхности (направленное или ненаправленное)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">driften</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Пассивное перемещение, дрейф (под воздействием ветра, течения; обычно о субъектах большого размера и/или на большой водной поверхности) 
</font> </TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">segeln<br>
</font>
</I><font size="4">(от <I>das Segel</I> 'парус') </font> </P>
  </TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Управляемое движение парусного судна, человека на судне</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<P><font size="4">Общие глаголы движения</font></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Управляемое движение судна, человека на судне</font></TD>
</TR>
</TABLE>


<P><font size="4">Подробнее см.: <br>
О. Ю. Шеманаева. Выражение перемещения в воде в немецком языке // Т. А. Майсак, Е. В. Рахилина (ред.) 
<a href="volume">Глаголы движения в воде: лексическая типология</a>. М.: Индрик, 2007. 
[<a href="9-Shemanaeva.pdf">PDF</a>]</font></P>
<P>&nbsp;</P>


</blockquote>

<hr>

<blockquote>
<p align="center">Сайт создан в 2006 г. при финансовой поддержке<br>
<a href="http://www.rfbr.ru" target="_blank"><b>Российского фонда
фундаментальных исследований</b></a><br>
(грант № 05-06-80400а)
</blockquote>

</body>

</html>
