<!DOCTYPE html>
<html lang="en">

<head>

<title>AQUA-motion - Языки</title>

<STYLE TYPE="text/css">
a:link {color: blue; text-decoration: none}
a:active { color: yellow; text-decoration: none}
a:visited { color: darkgreen; text-decoration: none}
a:hover { color: red; text-decoration: none}
</style>

</head>

<body bgcolor="#e3f3ff">

<h1 align="center"><font color="#0000FF">* AQUA-motion *</font><font color="#000080"><br>
Глаголы движения в воде:<br>
лексическая типология</font></h1>
<blockquote>
  <p align="center"><b><font size="4" color="#0000FF">~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
  ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~<br>
  </font></b><font size="4"><a href=".">Главная</a> | <a href="project">О
  проекте</a> | <a href="domains">Семантические зоны
  плавания</a> | <a href="systems">Системы глаголов
  плавания</a> | <a href="languages">Языки</a><br>
  <a href="methodology">Методика изучения</a> | <a href="publications">Публикации</a>
  | <a href="authors">Участники</a> | <a href="contacts">Контакты</a>
  | <a href="gb">Гостевая</a>
  | </font><font color="#000080"> 
			<img border="0" src="english_flag.gif" width="25" height="16" align="center">
			</font><font size="4"><a href="index-engl">English Version</a>&nbsp;</font><b><font color="#000080" size="4"><br>
  </font><font size="4" color="#0000FF">~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
  ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~</font></b></p>
</blockquote>

<blockquote>

<P>&nbsp;</P>


<B><h2 align="center">Системы глаголов плавания индоарийских языков</h2>
</B>
<P>&nbsp;</P>
<h3><a name="hindi">Язык хинди</a></h3>

<TABLE BORDER CELLSPACING=1 CELLPADDING=7 WIDTH=619>
<TR><TD WIDTH="33%" VALIGN="TOP">
<B><P><font size="4">Глагол (корень)</font></B></TD>
<TD WIDTH="67%" VALIGN="TOP">
<B><P><font size="4">Контексты употребления</font></B></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<P><i><font size="4">tair-</font></i></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Активное плавание (все субъекты) </font> </P>
<P><font size="4">Плавное перемещение судна (в озере, море, при отсутствии заметного течения) 
</font> </P>
<P><font size="4">Перемещение человека на судне &lt;периферийно&gt;</font></P>
<P><font size="4">Пассивное ненаправленное перемещение или нахождение на поверхности</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">bah-</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Пассивное перемещение по течению</font></P>
<P><font size="4">Течение жидкости (основное средство)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">utraa-</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Нахождение на поверхности </font> </P>
<P><font size="4">Способность держаться на воде и не тонуть </font> </P>
<P><font size="4">Всплытие (пассивное)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<P><font size="4">Общие глаголы движения</font></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Управляемое движение судна, человека на судне (основное средство)</font></TD>
</TR>
</TABLE>

<P><font size="4">Подробнее см.:&nbsp;<br>Л. В. Хохлова, Чаранджит Сингх. Глаголы перемещения в жидкой cреде и  движения жидкости в западных индоарийских языках // Т. А. Майсак, Е. В. Рахилина (ред.) 
<a href="volume">Глаголы движения в воде: лексическая типология</a>. М.: Индрик, 2007. 
[<a href="24-Khokhlova-Singh.pdf">PDF</a>]</font></P>

<P>&nbsp;</P>
<h3><a name="panjabi">Язык панджаби</a></h3>

<TABLE BORDER CELLSPACING=1 CELLPADDING=7 WIDTH=619>
<TR><TD WIDTH="33%" VALIGN="TOP">
<B><P><font size="4">Глагол (корень)</font></B></TD>
<TD WIDTH="67%" VALIGN="TOP">
<B><P><font size="4">Контексты употребления</font></B></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">tar-</font></P>
<P><font size="4">&nbsp;</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Активное плавание (все субъекты) </font> </P>
<P><font size="4">Плавное перемещение судна (в озере, море, при отсутствии заметного течения) 
</font> </P>
<P><font size="4">Перемещение человека на судне &lt;периферийно&gt;</font></P>
<P><font size="4">Пассивное ненаправленное перемещение или нахождение на поверхности</font></P>
<P><font size="4">{Реже наблюдается противопоставление <I>tar- </I>в активных vs. <I>tair- </I>в пассивных контекстах}</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">vag-</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Пассивное перемещение по течению</font></P>
<P><font size="4">Течение жидкости (основное средство)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">ruRh-</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Пассивное перемещение по течению‘’</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<P><font size="4">Общие глаголы движения</font></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Управляемое движение судна, человека на судне (основное средство)</font></TD>
</TR>
</TABLE>

<P><font size="4">Подробнее см.:&nbsp;<br>Л. В. Хохлова, Чаранджит Сингх. Глаголы перемещения в жидкой cреде и  движения жидкости в западных индоарийских языках // Т. А. Майсак, Е. В. Рахилина (ред.) 
<a href="volume">Глаголы движения в воде: лексическая типология</a>. М.: Индрик, 2007. 
[<a href="24-Khokhlova-Singh.pdf">PDF</a>]</font></P>

<P>&nbsp;</P>
<h3><a name="rajasthani">Язык раджастхани</a></h3>

<TABLE BORDER CELLSPACING=1 CELLPADDING=7 WIDTH=619>
<TR><TD WIDTH="33%" VALIGN="TOP">
<B><P><font size="4">Глагол (корень)</font></B></TD>
<TD WIDTH="67%" VALIGN="TOP">
<B><P><font size="4">Контексты употребления</font></B></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">tar-</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Активное плавание (все субъекты) </font> </P>
<P><font size="4">Плавное перемещение судна (в озере, море, при отсутствии заметного течения) 
</font> </P>
<P><font size="4">Перемещение человека на судне &lt;периферийно&gt;</font></P>
<P><font size="4">Пассивное ненаправленное перемещение или нахождение на поверхности</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">vah- / bah-</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Пассивное перемещение по течению</font></P>
<P><font size="4">Течение жидкости (основное средство)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<P><font size="4">Общие глаголы движения</font></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Управляемое движение судна, человека на судне (основное средство)</font></TD>
</TR>
</TABLE>

<P><font size="4">Подробнее см.:&nbsp;<br>Л. В. Хохлова, Чаранджит Сингх. Глаголы перемещения в жидкой cреде и  движения жидкости в западных индоарийских языках // Т. А. Майсак, Е. В. Рахилина (ред.) 
<a href="volume">Глаголы движения в воде: лексическая типология</a>. М.: Индрик, 2007. 
[<a href="24-Khokhlova-Singh.pdf">PDF</a>]</font></P>

<P>&nbsp;</P>

<h3><a name="gujarati">Язык гуджарати</a></h3>

<TABLE BORDER CELLSPACING=1 CELLPADDING=7 WIDTH=619>
<TR><TD WIDTH="33%" VALIGN="TOP">
<B><P><font size="4">Глагол (корень)</font></B></TD>
<TD WIDTH="67%" VALIGN="TOP">
<B><P><font size="4">Контексты употребления</font></B></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">tar-</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Активное плавание (все субъекты) </font> </P>
<P><font size="4">Плавное перемещение судна (в озере, море, при отсутствии заметного течения) 
</font> </P>
<P><font size="4">Перемещение человека на судне &lt;периферийно&gt;</font></P>
<P><font size="4">Пассивное ненаправленное перемещение или нахождение на поверхности</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">vahe-</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Пассивное перемещение по течению</font></P>
<P><font size="4">Течение жидкости (основное средство)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<P><font size="4">Общие глаголы движения</font></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Управляемое движение судна, человека на судне (основное средство)</font></TD>
</TR>
</TABLE>

<P><font size="4">Подробнее см.:&nbsp;<br>Л. В. Хохлова, Чаранджит Сингх. Глаголы перемещения в жидкой cреде и  движения жидкости в западных индоарийских языках // Т. А. Майсак, Е. В. Рахилина (ред.) 
<a href="volume">Глаголы движения в воде: лексическая типология</a>. М.: Индрик, 2007. 
[<a href="24-Khokhlova-Singh.pdf">PDF</a>]</font></P>

<P>&nbsp;</P>
<h3><a name="bengali">Язык бенгали</a></h3>

<TABLE BORDER CELLSPACING=1 CELLPADDING=7 WIDTH=619>
<TR><TD WIDTH="33%" VALIGN="TOP">
<B><P><font size="4">Глагол</font></B></TD>
<TD WIDTH="67%" VALIGN="TOP">
<B><P><font size="4">Контексты употребления</font></B></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">s&#227;trano</font></I><font size="4">, </font> </P>
<I><P><font size="4">s&#227;tar kaTa<br>
</font>
</I><font size="4">("плавание резать"), </font> </P>
<I><P><font size="4">s&#227;tar deuwa<br>
</font>
</I><font size="4">("плавание делать")</font></P>
  </TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Активное плавание (все субъекты; кроме медленного плавания) 
</font> </P>
<P><font size="4">Управляемое движение судна, человека на судне &lt;периферийно&gt;</font></P>
</TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">bhasa</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Пассивное перемещение по течению </font> </P>
<P><font size="4">Нахождение на поверхности </font> </P>
<P><font size="4">Активное плавание (обычно медленное, а также о постоянно обитающих в воде животных) 
</font> </P>
<P><font size="4">Управляемое движение судна, человека на судне (медленное, без акцента на направление движения)</font></P>
<P><font size="4">Течение жидкости (обильное: 'разливаться, растекаться')</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">bhiRa</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Приближение судна к берегу ('подплывать, приставать к берегу, бросать якорь')</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">paRi deuwa<br>
</font>
</I><font size="4">("переправление давать")</font></P>
  </TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Пересечение "большой воды" (моря, океана, широкой реки) судном или человеком на судне</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<P><font size="4">Общие глаголы движения</font></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Управляемое движение судна, человека на судне (основное средство)</font></TD>
</TR>
</TABLE>

<P><font size="4">Подробнее см.:&nbsp;<br>Я. В. Колотова. Глаголы перемещения в жидкой среде в бенгальском языке // Т. А. Майсак, Е. В. Рахилина (ред.) 
<a href="volume">Глаголы движения в воде: лексическая типология</a>. М.: Индрик, 2007.
[<a href="25-Kolotova.pdf">PDF</a>]</font></P>



<P>&nbsp;</P>



</blockquote>

<hr>

<blockquote>
<p align="center">Сайт создан в 2006 г. при финансовой поддержке<br>
<a href="http://www.rfbr.ru" target="_blank"><b>Российского фонда
фундаментальных исследований</b></a><br>
(грант № 05-06-80400а)
</blockquote>

</body>

</html>
