<!DOCTYPE html>
<html lang="en">

<head>

<title>AQUA-motion - Языки</title>

<STYLE TYPE="text/css">
a:link {color: blue; text-decoration: none}
a:active { color: yellow; text-decoration: none}
a:visited { color: darkgreen; text-decoration: none}
a:hover { color: red; text-decoration: none}
</style>

</head>

<body bgcolor="#e3f3ff">

<h1 align="center"><font color="#0000FF">* AQUA-motion *</font><font color="#000080"><br>
Глаголы движения в воде:<br>
лексическая типология</font></h1>
<blockquote>
  <p align="center"><b><font size="4" color="#0000FF">~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
  ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~<br>
  </font></b><font size="4"><a href=".">Главная</a> | <a href="project">О
  проекте</a> | <a href="domains">Семантические зоны
  плавания</a> | <a href="systems">Системы глаголов
  плавания</a> | <a href="languages">Языки</a><br>
  <a href="methodology">Методика изучения</a> | <a href="publications">Публикации</a>
  | <a href="authors">Участники</a> | <a href="contacts">Контакты</a>
  | <a href="gb">Гостевая</a>
  | </font><font color="#000080"> 
			<img border="0" src="english_flag.gif" width="25" height="16" align="center">
			</font><font size="4"><a href="index-engl">English Version</a>&nbsp;</font><b><font color="#000080" size="4"><br>
  </font><font size="4" color="#0000FF">~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
  ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~</font></b></p>
</blockquote>




<blockquote>

<P>&nbsp;</P>

<h2>Языки</h2>
<P><font size="4">На нашем сайте представлено общее устройство систем глаголов плавания для тех языков, которые привлекались к рассмотрению в ходе проекта. Системы изображены в виде таблиц, а описание контекстов употребления глаголов в терминах, которые обсуждаются в разделах
&quot;<a href="domains">Семантические зоны  плавания</a>" и
&quot;<a href="systems">Системы глаголов  плавания</a>".</font></P>
<P><font size="4">Более подробную информацию о конкретно-языковых системах можно почерпнуть из соответствующих статей сборника
&quot;<a href="volume">Глаголы движения в воде: лексическая типология глаголов плавания</a>".</font></P>

<h3>Германские языки </h3>

<UL>

<UL>
<LI><a href="germanic#english"><font size="4">английский</font></a><font size="4"></LI>
</font>
<P><LI><a href="germanic#german"><font size="4">немецкий</font></a><font size="4"></LI>
</font>
<P><LI><a href="germanic#dutch"><font size="4">нидерландский</font></a><font size="4"> </LI>
</font>
<P><LI><a href="germanic#swedish"><font size="4">шведский</font></a><font size="4">
</font> </LI></UL>
</UL>


<h3>Романские языки</h3>

<UL>

<UL>
<LI><a href="romance#spanish"><font size="4">испанский</font></a><font size="4"></LI>
</font>
<P><LI><a href="romance#italiano"><font size="4">итальянский</font></a><font size="4"> </LI>
</font>
<P><LI><a href="romance#portugues"><font size="4">португальский</font></a><font size="4"></LI>
</font>
<P><LI><a href="romance#french"><font size="4">французский</font></a></LI></UL>
</UL>


<h3>Классические языки</h3>

<UL>

<UL>
<LI><a href="romance#latin"><font size="4">латинский</font></a><font size="4"> </LI>
</font>
<P><LI><a href="average2#oldgreek"><font size="4">древнегреческий</font></a><font size="4">
</font> </LI></UL>
</UL>


<h3>Славянские языки </h3>

<UL>

<UL>
<LI><a href="slavbalt#bulgarian"><font size="4">болгарский</font></a><font size="4"> </LI>
</font>
<P><LI><a href="slavbalt#macedonian"><font size="4">македонский</font></a><font size="4"> </LI>
</font>
<P><LI><a href="slavbalt#polish"><font size="4">польский</font></a><font size="4"> </LI>
</font>
<P><LI><a href="slavbalt#russian"><font size="4">русский</font></a><font size="4">  </LI>
</font>
<P><LI><a href="slavbalt#serbian"><font size="4">сербохорватский</font></a><font size="4">
</font> </LI></UL>
</UL>


<h3>Балтийские языки </h3>

<UL>

<UL>
<LI><a href="slavbalt#lithuanian"><font size="4">литовский</font></a></LI></UL>
</UL>


<h3>Кавказские языки</h3>

<UL>

<UL>
<LI><a href="caucasian#avar"><font size="4">аварский</font></a><font size="4"> (&lt; аваро-андо-цезские, нахско-дагестанские) </LI>
</font>
<P><LI><a href="caucasian#agul"><font size="4">агульский</font></a><font size="4"> (&lt; лезгинские, нахско-дагестанские)</LI>
</font>
<P><LI><a href="caucasian#adyghe"><font size="4">адыгейский</font></a><font size="4"> (&lt; абхазо-адыгские)</LI>
</font>
<P><LI><a href="average2#armenian"><font size="4">армянский</font></a><font size="4"> (&lt; индоевропейские)</LI>
</font>
<P><LI><a href="average2#georgian"><font size="4">грузинский</font></a><font size="4"> (&lt; картвельские)</LI>
</font>
<P><LI><a href="caucasian#dargi"><font size="4">даргинский литературный</font></a><font size="4"> (&lt; лакско-даргинские, нахско-дагестанские)</LI>
</font>
<P><LI><a href="caucasian#ingush"><font size="4">ингушский</font></a><font size="4"> (&lt; нахские, нахско-дагестанские)</LI>
</font>
<P><LI><a href="caucasian#icari"><font size="4">ицаринский</font></a><font size="4"> (&lt; лакско-даргинские, нахско-дагестанские)</LI>
</font>
<P><LI><a href="caucasian#kabarda"><font size="4">кабардино-черкесский</font></a><font size="4"> (&lt; абхазо-адыгские)</LI>
</font>
<P><LI><a href="caucasian#karata"><font size="4">каратинский</font></a><font size="4"> (&lt; аваро-андо-цезские, нахско-дагестанские)</LI>
</font>
<P><LI><a href="caucasian#lak"><font size="4">лакский</font></a><font size="4"> (&lt; лакско-даргинские, нахско-дагестанские)</LI>
</font>
<P><LI><a href="caucasian#lezgi"><font size="4">лезгинский</font></a><font size="4"> (&lt; лезгинские, нахско-дагестанские)</font></LI></UL>
</UL>


<h3>Уральские языки </h3>

<UL>

<UL>
<LI><a href="uralic#komi"><font size="4">коми-зырянский</font></a><font size="4"> </LI>
</font>
<P><LI><a href="uralic#nganasan"><font size="4">нганасанский</font></a><font size="4"> </LI>
</font>
<P><LI><a href="uralic#selqup"><font size="4">селькупский</font></a><font size="4"> </LI>
</font>
<P><LI><a href="uralic#udmurt"><font size="4">удмуртский</font></a><font size="4"> </LI>
</font>
<P><LI><a href="uralic#finnish"><font size="4">финский</font></a></LI></UL>
</UL>


<h3>Тюркские языки</h3>

<UL>

<UL>
<LI><a href="turkic#balkar"><font size="4">карачаево-балкарский</font></a><font size="4"></LI>
</font>
<P><LI><a href="turkic#turkish"><font size="4">турецкий</font></a><font size="4"></LI>
</font>
<P><LI><a href="turkic#khakass"><font size="4">хакасский</font></a></LI></UL>
</UL>


<h3>Семитские языки</h3>

<UL>

<UL>
<LI><a href="semitic#arabic"><font size="4">арабский (литературный)</font></a><font size="4"></LI>
</font>
<P><LI><a href="semitic#hebrew"><font size="4">иврит (современный)</font></a></LI></UL>
</UL>


<h3>Индоиранские языки</h3>

<UL>

<UL>
<LI><a href="indoaryan#bengali"><font size="4">бенгали</font></a><font size="4"> </LI>
</font>
<P><LI><a href="indoaryan#gujarati"><font size="4">гуджарати</font></a><font size="4"> </LI>
</font>
<P><LI><a href="indoaryan#rajasthani"><font size="4">раджастхани</font></a><font size="4"> </LI>
</font>
<P><LI><a href="indoaryan#panjabi"><font size="4">панджаби</font></a><font size="4"> </LI>
</font>
<P><LI><a href="average1#farsi"><font size="4">персидский</font></a><font size="4"> </LI>
</font>
<P><LI><a href="indoaryan#hindi"><font size="4">хинди</font></a><font size="4">
</font> </LI></UL>
</UL>


<h3>Дравидийские языки</h3>

<UL>

<UL>
<LI><a href="average1#tamil"><font size="4">тамильский</font></a></LI></UL>
</UL>


<h3>Сино-тибетские языки</h3>

<UL>

<UL>
<LI><a href="fareast#chinese"><font size="4">китайский</font></a></LI></UL>
</UL>


<h3>Корейский и японский языки</h3>

<UL>

<UL>
<LI><a href="fareast#korean"><font size="4">корейский</font></a><font size="4"></LI>
</font>
<P><LI><a href="fareast#japanese"><font size="4">японский</font></a></LI></UL>
</UL>


<h3>Австронезийские языки</h3>

<UL>

<UL>
<LI><a href="fareast#malay"><font size="4">индонезийский</font></a><font size="4">
</font> </LI></UL>
</UL>


<h3>Африканские языки</h3>

<UL>

<UL>
<LI><a href="average1#maninka"><font size="4">манинка</font></a><font size="4"> (&lt; манде)</font></LI></UL>
</UL>



</blockquote>

<p>&nbsp;</p>

<hr>

</body>

</html>
