<!DOCTYPE html>
<html lang="en">

<head>

<title>AQUA-motion - Глаголы движения в воде</title>

<STYLE TYPE="text/css">
a:link {color: blue; text-decoration: none}
a:active { color: yellow; text-decoration: none}
a:visited { color: darkgreen; text-decoration: none}
a:hover { color: red; text-decoration: none}
</style>

</head>

<body bgcolor="#e3f3ff">

<p align="center"><b><font size="5" color="#0000FF">~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~</font></b><font size="6"><b><font color="#0000FF"><br>
* AQUA-motion *</font><font color="#000080"><br>
Глаголы движения в воде:&nbsp;<br>
лексическая типология</font></b></font><b><font size="5" color="#0000FF"><br>
~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
  ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~</font></b>



</p>


</head>

<body>

<table border="0" width="100%">
  <tr>
    <td valign="top" width="32%">
      <table border="0" width="100%" height="324">
        <tr>
          <td width="100%" height="24">
            <h3><font color="#000080"><a href="project">О проекте</a></font></h3>
          </td>
        </tr>
        <tr>
          <td width="100%" height="46">
            <h3><font color="#000080"><a href="domains">Семантические зоны&nbsp; плавания</a></font></h3>
          </td>
        </tr>
        <tr>
          <td width="100%" height="46">
            <h3><font color="#000080"><a href="systems">Системы глаголов&nbsp; плавания</a></font></h3>
          </td>
        </tr>
        <tr>
          <td width="100%" height="24">
            <h3><font color="#000080"><a href="languages">Языки</a></font></h3>
          </td>
        </tr>
        <tr>
          <td width="100%" height="24">
            <h3><font color="#000080"><a href="methodology">Методика изучения</a></font></h3>
          </td>
        </tr>
        <tr>
          <td width="100%" height="24">
            <h3><font color="#000080"><a href="publications">Публикации</a></font></h3>
          </td>
        </tr>
        <tr>
          <td width="100%" height="24">
            <h3><font color="#000080"><a href="authors">Участники</a></font></h3>
          </td>
        </tr>
        <tr>
          <td width="100%" height="24">
            <h3><font color="#000080"><a href="contacts">Контакты</a></font></h3>
          </td>
        </tr>
        <tr>
          <td width="100%" height="24">
            <h3><a href="/gb">
			Гостевая книга</a></h3>
          </td>
        </tr>
        <tr>
          <td width="100%" height="24">
            <h3 align="left"><font color="#000080">
			<img border="0" src="english_flag.gif" width="25" height="16" align="center">
			<a href="index-engl">English Version</a></font></h3>
          </td>
        </tr>
      </table>
    </td>
    <td width="68%"><FONT SIZE=4>
    
    <P>На данном сайте представлены основные результаты, полученные в ходе работы над проектом по типологическому исследованию одной из групп глаголов способа движения — а именно, <B><i>глаголов плавания</i></B> 
      (AQUA-motion).</P>

    <P>Вы можете познакомиться с общими сведениями
    <a href="project">о проекте</a>, а также <a href="authors">о людях</a>, принимавших в нем участие, и
    <a href="publications">о публикациях</a> по теме проекта.</P>

    <P>Основное внимание уделено описанию общего устройства
    <a href="domains">семантической зоны плавания</a>, а также типологии
    <a href="systems">систем глаголов плавания</a>. Краткие очерки систем глаголов плавания даны для всех
    <a href="languages">языков</a>, которые привлекались к рассмотрению в ходе проекта.</P>

    <P>Если вас заинтересовала данная тема, вам могут пригодиться наши
    <a href="methodology">рекомендации</a> по изучению семантики глаголов плавания в конкретном языке, в том числе разработанная нами
    <a href="methodology#quest">типологическая анкета</a>.</P>

    <P>Мы будем благодарны вам за <a href="/gb">отзывы</a> о нашем сайте!</P>

<P ALIGN="left">Руководители проекта</P>
<I><P ALIGN="left">Т. А. Майсак,<br>
Е. В. Рахилина
</I>

</FONT><FONT COLOR="#0000ff"> </P>
      </FONT>
    </td>
  </tr>
  <tr>
    <td width="32%">&nbsp;</td>
    <td width="68%">&nbsp;</td>
  </tr>
</table>

<blockquote>
<p align="center">Сайт создан в 2006 г. при финансовой поддержке<br>
<a href="http://www.rfbr.ru" target="_blank"><b>Российского фонда
фундаментальных исследований</b></a><br>
(грант № 05-06-80400а)
<p align="center">© Майсак Т. А., разработка сайта, 2006—2009 гг.</p>
</blockquote>

</body>
