<!DOCTYPE html>
<html lang="en">

<head>

<title>AQUA-motion - Языки</title>

<STYLE TYPE="text/css">
a:link {color: blue; text-decoration: none}
a:active { color: yellow; text-decoration: none}
a:visited { color: darkgreen; text-decoration: none}
a:hover { color: red; text-decoration: none}
</style>

</head>

<body bgcolor="#e3f3ff">

<h1 align="center"><font color="#0000FF">* AQUA-motion *</font><font color="#000080"><br>
Глаголы движения в воде:<br>
лексическая типология</font></h1>
<blockquote>
  <p align="center"><b><font size="4" color="#0000FF">~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
  ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~<br>
  </font></b><font size="4"><a href="/">Главная</a> | <a href="project">О
  проекте</a> | <a href="domains">Семантические зоны
  плавания</a> | <a href="systems">Системы глаголов
  плавания</a> | <a href="languages">Языки</a><br>
  <a href="methodology">Методика изучения</a> | <a href="publications">Публикации</a>
  | <a href="authors">Участники</a> | <a href="contacts">Контакты</a>
  | <a href="/gb">Гостевая</a>
  | </font><font color="#000080"> 
			<img border="0" src="english_flag.gif" width="25" height="16" align="center">
			</font><font size="4"><a href="index-engl">English Version</a>&nbsp;</font><b><font color="#000080" size="4"><br>
  </font><font size="4" color="#0000FF">~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
  ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~</font></b></p>
</blockquote>

<blockquote>

<P>&nbsp;</P>

<h2>Публикации</h2>
<P><font size="4">Основной публикацией, подготовленной почти за пять лет работы над проектом (в 2002—2006 гг.), является <B>сборник статей</B>:</font></P>

<blockquote>

<P><font size="4"><font color="#000080"><b>Глаголы движения в воде: лексическая типология</b></font> 
/ Ред. Т. А. Майсак, Е. В. Рахилина. — М.: Издательство «<a href="http://indrik.narod.ru" target="_blank">Индрик</a>», 2007. — 752 с.</font></P>

</blockquote> 
<P><font size="4">Подробнее с содержанием сборника можно ознакомиться
<a href="volume">на этой странице</a>, где статьи сборника 
доступны в скачиваемом виде. Вашему вниманию также предлагаются 
<b>отзывы о книге</b>, в частности:</font></P>
<blockquote>
	<P><font size="4">Щека
	Ю. В. «Плавать» по-турецки: три заметки
	по поводу сборника
«Глаголы движения в воде» // Вопросы тюркской филологии. Вып. VII. Материалы Дмитриевских чтений. М., 2007. [<a href="Sheka_review.pdf">PDF</a>]</font></P>
	<P><font size="4">Лаенко Л.В. Типология плавания //
	<a target="_blank" href="http://www.vestnik.vsu.ru/content/lingvo/2008/03/toc_ru.asp">
	Вестник Воронежского государственного университета. Серия: Лингвистика и 
	межкультурная коммуникация</a>. 2008. №3. С. 341-343. [<a href="Laenko_review.pdf">PDF</a>]</font></P>
</blockquote>
<P><font size="4">Помимо сборника статей, в ходе работы над проектом были опубликованы (или готовятся к публикации) следующие <B>статьи и тезисы докладов</B>:</font></P>

<blockquote>
  <p><font size="4">Майсак Т. А., Рахилина Е. В. Типология систем глагольной лексики: движение в воде // Грамматические категории: иерархии, связи, взаимодействие: Мат. конф. СПб., 2003.</font></p>
  <p><font size="4">Майсак Т. А., Рахилина Е. В. Лексическая типология и прогнозирование лексической сочетаемости (на материале глаголов перемещения в воде) // Проблемы лингвистической прогностики. Вып. 3. Воронеж, 2004.</font></p>
<P><font size="4">Рахилина Е. В. <I>Плыть</I> и <I>плавать</I>: семантика грамматических форм и способа движения // Типологические обоснования в грамматике: к 70-летию проф. В. С. Храковского. М., 2004.</font></P>
<P><font size="4">Рахилина Е. В., Макеева И. И. Семантика русского <I>плыть </I>— <I>плавать</I>: синхрония и диахрония // Сокровенные смыслы: Слово. Текст. Культура: Сб. ст. в честь Н. Д. Арутюновой. М., 2004.</font></P>
<P><font size="4">Рахилина Е. В. Типология и лексическая семантика // Вторая конференция по типологии и грамматике для молодых исследователей: Материалы. СПб., 2005.</font></P>
<P><font size="4">Lander Y., Kramarova S. Lexical typology meets Malay/Indonesian: The case of Aqua-motion lexicon // 9th International Symposium on Malay/Indonesian Linguistics. Abstracts. Padang, 2005.</font></P>
<P><font size="4">Lander Y., Maisak T., Rakhilina E. Lexical typology of AQUA-motion // Association for Linguistic Typology: 6th Biennial Meeting. Abstracts. Padang, 2005.&nbsp;</font></P>
	<P><font size="4">Koptjevskaja-Tamm M., Divjak D. &amp; Rakhilina E. Aquamotion 
	verbs in Slavic and Germanic: A case study in lexical typology // Victoria 
	Hasko &amp; Renee Perelmutter (eds.) New Approaches to Slavic Verbs of Motion. 
	Amsterdam: Benjamins, 2010. Pp. 315–341.</font></P>
	<blockquote>
		<P><i>The paper contrasts the verbs plyt’/plavat’ in Russian and 
		plynac/plywac in Polish with their correspondences in Dutch, English and 
		Swedish against a broader typological background. The three Germanic 
		languages use several verbs for what is covered by a pair of 
		derivationally related verbs in each of the two Slavic languages. The 
		Germanic languages lexicalize the activity/passivity of motion, but vary 
		considerably as to how they carve up the conceptual space. Russian and 
		Polish, on the other hand, use plavat’/plyt’ independently of the 
		activity/passivity of motion and focus on the uni- or 
		non-unidirectionality of the motion. Nonetheless, it appears that the 
		different lexicalizations in the Swedish-English-Dutch systems of 
		aquamotion verbs are reflected in constructional differences in the 
		Russian-Polish systems.</i></P>
	</blockquote>
<P><font size="4">Lander Y., Maisak T., Rakhilina E. Domains of aqua-motion: a case study in lexical typology // Emile van der Zee &amp; Mila Vulchanova (eds.) Motion Encoding in Language and Space. Oxford: Oxford University Press, 2010 (to appear)
[<a href="Lander-Maisak-Rakhilina_final_2008.pdf">PDF</a>]</font></P>
	<blockquote>
		<P><i>This paper elaborates on an approach to the cross-linguistical 
		comparison of lexical (sub)systems based on distinguishing between 
		typologically valid semantic domains. We illustrate this approach 
		exploring the semantic field of motion / being in a liquid medium 
		(aqua-motion), within which three general conceptual domains (SWIMMING, 
		SAILING and FLOATING) are differentiated. On the basis of this 
		tripartition, we suggest a typology of aqua-motion systems which 
		distinguishes between rich, poor and ‘middle’ systems of aqua-motion 
		expressions depending on what contrasts a given language displays within 
		this semantic field.</i></P>
	</blockquote>

</blockquote>

<P><font size="4">Кроме того, в последние годы были опубликованы следующие статьи участников проекта по семантике <B>глаголов способа движения</B>:</font></P>

<blockquote>

<P><font size="4">Рахилина Е. В. Семантика русских "позиционных" предикатов: "стоять", "лежать", "сидеть" и "висеть" // Вопросы языкознания. 1998. № 6.</font></P>
<P><font size="4">Рахилина Е. В. <I>Стой, кто идет?</I> // Слово в тексте и в словаре: Сб. ст. к 70-летию Ю. Д. Апресяна. / Ред. Л. Л. Иомдин, Л. П. Крысин. М., 2000.</font></P>
<P><font size="4">Рахилина Е. В. О семантической структуре глагола "лезть" // Русский язык: пересекая границы. Дубна, 2001.</font></P>
<P><font size="4">Рахилина Е. В. <I>Мы едем, едем, едем</I>... // Языки мира. Типология. Уралистика: Памяти Т. Ждановой: Ст. и восп. М., 2002.</font></P>
<P><font size="4">Рахилина Е. В. <I>Ползти</I>: путь к хаосу // Логический анализ языка: Космос и Хаос. / Ред. Н. Д. Арутюнова. М., 2003.</font></P>
<P><font size="4">Рахилина Е. В., Лемменс М. Русистика и типология: лексическая семантика глаголов со значением 'сидеть' в русском и нидерландском // Russian Linguistics. 2003.
27:3. Р. 313—328. </font> </P>

<P><font size="4">Прокофьева И. А., Рахилина Е. В. Глаголы колебательного движения: польский и русский // Исследование славянских языков и литератур в высшей школе: достижения и перспективы. М., 2003.</font></P>
<P><font size="4">Рахилина Е. В., Прокофьева И. А. Родственные языки как объект лексической типологии: русские и польские глаголы вращения // Вопросы языкознания. 2004. № 1.</font></P>
<P><font size="4">Рахилина Е. В., Прокофьева И. А. Русские и польские глаголы колебательного движения: семантика и типология // Язык. Личность. Текст. Сб. ст. к 70-летию Т. М. Николаевой / Ред. В. Н. Топоров. М., 2005.</font></P>


</blockquote>


<P>&nbsp;</P>

</blockquote>

<hr>

<blockquote>
<p align="center">Сайт создан в 2006 г. при финансовой поддержке<br>
<a href="http://www.rfbr.ru" target="_blank"><b>Российского фонда
фундаментальных исследований</b></a><br>
(грант № 05-06-80400а)
</blockquote>


</body>

</html>
