<!DOCTYPE html>
<html lang="en">

<head>

<title>AQUA-motion - Языки</title>

<STYLE TYPE="text/css">
a:link {color: blue; text-decoration: none}
a:active { color: yellow; text-decoration: none}
a:visited { color: darkgreen; text-decoration: none}
a:hover { color: red; text-decoration: none}
</style>

</head>

<body bgcolor="#e3f3ff">

<h1 align="center"><font color="#0000FF">* AQUA-motion *</font><font color="#000080"><br>
</font><b><font color="#000080" size="6">Lexical typology of</font></b><font color="#000080" size="6"><b> 
predicates <br>
denoting motion in a liquid medium</b></font></h1>
<blockquote>
  <p align="center"><font size="5" color="#0000FF"><b>~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ 
	~<br>
  </b></font>
			<img border="0" src="russian_flag.gif" width="25" height="16" align="center"><font size="4">
	<a href=".">Main Page (Russian)</a></font><font size="4"> | 
	</font><font color="#000080"> 
			<img border="0" src="english_flag.gif" width="25" height="16" align="center">
	
			</font><font size="4"><a href="index-engl">
	Main Page (English)</a><br>
	&nbsp;</font><font color="#000080"><img border="0" src="english_flag.gif" width="25" height="16" align="center">
	
			</font><font size="4"><a href="summary">Summary</a>
	|&nbsp;</font><font color="#000080"><img border="0" src="english_flag.gif" width="25" height="16" align="center">
	
			</font><font size="4">
	<a href="publications-eng">Publications</a>
  | </font><font color="#000080"> 
			<img border="0" src="english_flag.gif" width="25" height="16" align="center">
	
			</font><font size="4"><a href="contacts-eng">
	Contacts</a>
  | </font>
			<img border="0" src="russian_flag.gif" width="25" height="16" align="center"><font color="#000080"> 
	/ 
			<img border="0" src="english_flag.gif" width="25" height="16" align="center">
	
			</font><font size="4">
	<a href="gb">Guestbook</a></font><b><font size="4" color="#000080"><br>
  </font><font size="5" color="#0000FF">~ ~ ~ ~ ~ ~ ~ ~ ~ ~
  ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~</font></b><font size="5" color="#0000FF"><b> 
	~</b></font></p>
</blockquote>




<blockquote>

<P>&nbsp;</P>

<h2>Publications</h2>
<P><font size="4">The main publication that appeared after five years of working 
on the project (2002—2006) is the collective volume:</font></P>

<blockquote>

<P><font size="4"><b>Глаголы движения в воде: лексическая типология</b> 
/ Ред. Т. А. Майсак, Е. В. Рахилина. — М.: Издательство «<a href="http://indrik.narod.ru" target="_blank">Индрик</a>», 2007. — 752 с.</font></P>

</blockquote> 

<blockquote>

<P><FONT SIZE=4>
    
<b>Glagoly dvizhenija v vode: Leksicheskaja tipologija</b> [Verbs of aqua-motion: lexical typology] 
/ Ed. by Timur Maisak &amp; Ekaterina Rakhilina. — Moscow:
<a href="http://indrik.narod.ru" target="_blank">Indrik</a>, 2007. — 752 pp.</FONT></P>

</blockquote>
<P><font size="4">Most papers of the book are in Russian. The list of contents 
and all papers are available in PDF format <a href="volume">on this page</a> 
(in Russian). English summary of this book is provided <a href="summary">
here</a>. You can also download the English summary and those papers of the 
volume that are in English:</font></P>
<blockquote>
	<P><font size="4">Lexical conflation patterns in Dutch aquamotion verbs 
	</font><i><font size="4">(by Dagmar Divjak &amp; Maarten Lemmens)</font></i><font size="4">
[<a href="8-Divjak-Lemmens.pdf">PDF</a>]</font></P>
	<P><font size="4">Some aspects of the Hebrew verb <i>saxah</i> 'swim' </font>
	<i><font size="4">(by Maya Arad)</font></i><font size="4">
[<a href="23-Arad.pdf">PDF</a>]</font></P>
	<P><font size="4">Summary [<a href="35-Summary.pdf">PDF</a>]</font></P>
</blockquote>
<P><font size="4">Apart from this, main results of the project are summarized in 
the following paper<span lang="en-us">s</span>:</font></P>
<blockquote>
	<P><font size="4">Koptjevskaja-Tamm M., Divjak D. &amp; Rakhilina E. Aquamotion 
	verbs in Slavic and Germanic: A case study in lexical typology // Victoria 
	Hasko &amp; Renee Perelmutter (eds.) New Approaches to Slavic Verbs of Motion. 
	Amsterdam: Benjamins, 2010. Pp. 315–341.</font></P>
	<blockquote>
		<P><i>The paper contrasts the verbs plyt’/plavat’ in Russian and 
		plynac/plywac in Polish with their correspondences in Dutch, English and 
		Swedish against a broader typological background. The three Germanic 
		languages use several verbs for what is covered by a pair of 
		derivationally related verbs in each of the two Slavic languages. The 
		Germanic languages lexicalize the activity/passivity of motion, but vary 
		considerably as to how they carve up the conceptual space. Russian and 
		Polish, on the other hand, use plavat’/plyt’ independently of the 
		activity/passivity of motion and focus on the uni- or 
		non-unidirectionality of the motion. Nonetheless, it appears that the 
		different lexicalizations in the Swedish-English-Dutch systems of 
		aquamotion verbs are reflected in constructional differences in the 
		Russian-Polish systems.</i></P>
	</blockquote>
</blockquote>

<blockquote>
<P><font size="4">Lander Y., Maisak T.<span lang="en-us"> &amp;</span> Rakhilina E. Domains of aqua-motion: a case study in lexical typology // Emile van der Zee &amp; Mila Vulchanova (eds.) Motion Encoding in Language and Space. Oxford: Oxford University Press, 2010 (to appear)
[<a href="Lander-Maisak-Rakhilina_final_2008.pdf">PDF</a>]</font></P>
<blockquote>
	<P><i>This paper elaborates on an approach to the cross-linguistical 
	comparison of lexical (sub)systems based on distinguishing between 
	typologically valid semantic domains. We illustrate this approach exploring 
	the semantic field of motion / being in a liquid medium (aqua-motion), 
	within which three general conceptual domains (SWIMMING, SAILING and 
	FLOATING) are differentiated. On the basis of this tripartition, we suggest 
	a typology of aqua-motion systems which distinguishes between rich, poor and 
	‘middle’ systems of aqua-motion expressions depending on what contrasts a 
	given language displays within this semantic field.</i></P>
</blockquote>

</blockquote>

<P><font size="4">Related lexico-typological projects of other international 
teams include:</font></P>

<blockquote>

<P><font size="4">Core vocabulary in a typological perspective: semantic shifts 
and form/meaning correlations (TypVoc)<br>
<a target="_blank" href="http://www.ling.su.se/staff/juvonen/INTAShomepage/TYPVOCl">http://www.ling.su.se/staff/juvonen/INTAShomepage/TYPVOCl</a> <br>
<br>
Motion encoding in language: A theoretical and experimental investigation of 
lexical semantic structures and constructions <br>
<a target="_blank" href="http://www.hf.ntnu.no/motionencodingfiles/">http://www.hf.ntnu.no/motionencodingfiles/</a> </font></P>


</blockquote>

</body>

</html>
