<!DOCTYPE html>
<html lang="en">

<head>

<title>AQUA-motion - Языки</title>

<STYLE TYPE="text/css">
a:link {color: blue; text-decoration: none}
a:active { color: yellow; text-decoration: none}
a:visited { color: darkgreen; text-decoration: none}
a:hover { color: red; text-decoration: none}
</style>

</head>

<body bgcolor="#e3f3ff">

<h1 align="center"><font color="#0000FF">* AQUA-motion *</font><font color="#000080"><br>
Глаголы движения в воде:<br>
лексическая типология</font></h1>
<blockquote>
  <p align="center"><b><font size="4" color="#0000FF">~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
  ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~<br>
  </font></b><font size="4"><a href="/">Главная</a> | <a href="project">О
  проекте</a> | <a href="domains">Семантические зоны
  плавания</a> | <a href="systems">Системы глаголов
  плавания</a> | <a href="languages">Языки</a><br>
  <a href="methodology">Методика изучения</a> | <a href="publications">Публикации</a>
  | <a href="authors">Участники</a> | <a href="contacts">Контакты</a>
  | <a href="/gb">Гостевая</a>
  | </font><font color="#000080"> 
			<img border="0" src="english_flag.gif" width="25" height="16" align="center">
			</font><font size="4"><a href="index-engl">English Version</a>&nbsp;</font><b><font color="#000080" size="4"><br>
  </font><font size="4" color="#0000FF">~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
  ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~</font></b></p>
</blockquote>


<blockquote>

<P>&nbsp;</P>

<B><h2 align="center">Системы глаголов плавания&nbsp;<br>
 латинского и романских языков</h2>
<p align="center">&nbsp;</p>
</B>
<h3><a name="latin">Латинский язык</a></h3>

<TABLE BORDER CELLSPACING=1 CELLPADDING=7 WIDTH=669>
<TR><TD WIDTH="34%" VALIGN="TOP">
<B><P><font size="4">Глагол</font></B></TD>
<TD WIDTH="60%" VALIGN="TOP">
<B><P><font size="4">Контексты употребления</font></B></TD>
</TR>
<TR><TD WIDTH="34%" VALIGN="TOP">
<I><P><font size="4">nare</font></I><font size="4">,</font><I><font size="4">
</font> </P>
<P><font size="4">natare&nbsp;<br>
 </font>
 </I><font size="4">&lt;исходно фреквентатив&gt;</font></TD>
<TD WIDTH="60%" VALIGN="TOP">
<P><font size="4">Активное плавание (направленное и ненаправленное)</font></P>
<P><font size="4">Нахождение на поверхности или в воде </font> </P>
<P><font size="4">Управляемое движение судна, человека на судне </font> </P>
<P><font size="4">Течение воды (потоков, морских волн) &lt;периферийно&gt;</font></TD>
</TR>
<TR><TD WIDTH="34%" VALIGN="TOP">
<I><P><font size="4">navigare<br>
</font>
</I><font size="4">&lt;от <I>navis</I> 'корабль' и <I>agere</I> 'приводить в движение'&gt; 
</font> </P>
  </TD>
<TD WIDTH="60%" VALIGN="TOP">
<P><font size="4">Управляемое движение судна, человека на судне</font></TD>
</TR>
<TR><TD WIDTH="34%" VALIGN="TOP">
<I><P><font size="4">fluere</font></I></TD>
<TD WIDTH="60%" VALIGN="TOP">
<P><font size="4">Течение воды (основной глагол)</font></TD>
</TR>
<TR><TD WIDTH="34%" VALIGN="TOP">
<I><P><font size="4">defluere&nbsp;<br>
 </font>
 </I><font size="4">&lt;приставочный дериват&gt;</font></TD>
<TD WIDTH="60%" VALIGN="TOP">
<P><font size="4">Пассивное перемещение по течению </font> </P>
<P><font size="4">Перемещение по течению судна, человека на судне </font> </P>
<P><font size="4">Течение воды</font></TD>
</TR>
<TR><TD WIDTH="34%" VALIGN="TOP">
<I><P><font size="4">fluitare&nbsp;<br>
 </font>
 </I><font size="4">&lt;исходно фреквентатив&gt;</font></TD>
<TD WIDTH="60%" VALIGN="TOP">
<P><font size="4">Пассивное ненаправленне перемещение на поверхности</font></P>
<P><font size="4">Нахождение на поверхности или в воде </font> </P>
<P><font size="4">Течение, волнение воды</font></TD>
</TR>
<TR><TD WIDTH="34%" VALIGN="TOP">
<I><P><font size="4">fluctuare</font></I></TD>
<TD WIDTH="60%" VALIGN="TOP">
<P><font size="4">Пассивное ненаправленне перемещение (при погружении в волны) 
</font> </P>
<P><font size="4">Бурное волнение воды</font></TD>
</TR>
</TABLE>


<P><font size="4">Подробнее см.:&nbsp;<br>Е. С. Грунтова. Латинская система глаголов плавания и ее развитие в романских языках (французском, итальянском, испанском) // Т. А. Майсак, Е. В. Рахилина (ред.) 
<a href="volume">Глаголы движения в воде: лексическая типология</a>. М.: Индрик, 2007.
[<a href="11-Gruntova.pdf">PDF</a>]</font></P>

<P>&nbsp;</P>
<h3><a name="italiano">Итальянский язык</a></h3>

<TABLE BORDER CELLSPACING=1 CELLPADDING=7 WIDTH=619>
<TR><TD WIDTH="33%" VALIGN="TOP">
<B><P><font size="4">Глагол</font></B></TD>
<TD WIDTH="67%" VALIGN="TOP">
<B><P><font size="4">Контексты употребления</font></B></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">nuotare</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Активное плавание (все субъекты)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">navigare</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Управляемое движение судна, человека на судне</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">mareggiare<br>
</font>
</I><font size="4">&lt;устаревший&gt;</font></P>
  </TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Управляемое движение судна, человека на судне</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">galleggiare</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Пассивное ненаправленное перемещение на поверхности</font></P>
<P><font size="4">Нахождение в воде </font> </P>
<P><font size="4">Пассивное перемещение по течению (при контекстной поддержке)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">fluttuare<br>
</font>
</I><font size="4">&lt;более книжный&gt;</font></P>
  </TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Пассивное ненаправленное перемещение на поверхности</font></P>
<P><font size="4">Нахождение в воде </font> </P>
<P><font size="4">Пассивное перемещение по течению (при контекстной поддержке)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">andare alla deriva</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Пассивное перемещение, дрейф (под воздействием ветра, течения, волн)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">scorrere</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Пассивное перемещение по течению </font> </P>
<P><font size="4">Течение воды</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">fluire</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Течение воды </font> </TD>
</TR>
</TABLE>


<P><font size="4">Подробнее см.:&nbsp;<br>Е. С. Грунтова. Латинская система глаголов плавания и ее развитие в романских языках (французском, итальянском, испанском) // Т. А. Майсак, Е. В. Рахилина (ред.) 
<a href="volume">Глаголы движения в воде: лексическая типология</a>. М.: Индрик, 2007.
[<a href="11-Gruntova.pdf">PDF</a>]</font></P>

<P>&nbsp;</P>
<h3><a name="french">Французский язык</a></h3>

<TABLE BORDER CELLSPACING=1 CELLPADDING=7 WIDTH=619>
<TR><TD WIDTH="33%" VALIGN="TOP">
<B><P><font size="4">Глагол</font></B></TD>
<TD WIDTH="67%" VALIGN="TOP">
<B><P><font size="4">Контексты употребления</font></B></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">nager</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Активное плавание (все субъекты)</font></P>
<P><font size="4">Нахождение в воде в замкнутом пространстве &lt;периферийно&gt;</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">surnager&nbsp;<br>
 </font>
 </I><font size="4">&lt;приставочный дериват&gt;</font></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Нахождение на поверхности </font> </TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">flotter</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Нахождение на поверхности или в воде</font></P>
<P><font size="4">Пассивное перемещение по течению (при контекстной поддержке; чаще в конструкции с деепричастием и общим глаголом движения)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">d&#233;river</font></I><font size="4">,</font></P>
<I><P><font size="4">aller &#224; la d&#233;rive</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Пассивное перемещение, дрейф (под воздействием ветра, течения, волн)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">naviguer</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Управляемое движение судна, человека на судне</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">voguer</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Управляемое движение судна, человека на судне</font></TD>
</TR>
</TABLE>


<P><font size="4">Подробнее см.:&nbsp;<br>Е. С. Грунтова. Латинская система глаголов плавания и ее развитие в романских языках (французском, итальянском, испанском) // Т. А. Майсак, Е. В. Рахилина (ред.) 
<a href="volume">Глаголы движения в воде: лексическая типология</a>. М.: Индрик, 2007.
[<a href="11-Gruntova.pdf">PDF</a>]</font></P>

<P>&nbsp;</P>
<h3><a name="spanish">Испанский язык</a></h3>

<TABLE BORDER CELLSPACING=1 CELLPADDING=7 WIDTH=619>
<TR><TD WIDTH="33%" VALIGN="TOP">
<B><P><font size="4">Глагол</font></B></TD>
<TD WIDTH="67%" VALIGN="TOP">
<B><P><font size="4">Контексты употребления</font></B></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">nadar</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Активное плавание (все субъекты)</font></P>
<P><font size="4">Нахождение в воде в замкнутом пространстве &lt;периферийно&gt;</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">sobrenadar<br>
</font>
</I><font size="4">&lt;приставочный дериват&gt;</font></P>
  </TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Нахождение на поверхности</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">navegar</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Управляемое движение судна, человека на судне</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">marear<br>
</font>
</I><font size="4">&lt;периферийный&gt;</font></P>
  </TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Управляемое движение судна, человека на судне</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">flotar </font> </I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Пассивное ненаправленное перемещение на поверхности</font></P>
<P><font size="4">Нахождение в воде </font> </P>
<P><font size="4">Пассивное перемещение по течению (при контекстной поддержке; чаще в конструкции с деепричастием и общим глаголом движения)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">boyar<br>
</font>
</I><font size="4">&lt;латиноамериканский вариант исп. яз.&gt;</font></P>
  </TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Пассивное ненаправленное перемещение и нахождение на поверхности (покачивание, колебание на волнах)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">(ir) a la deriva</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Пассивное перемещение, дрейф (под воздействием ветра, течения, волн)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">fluir</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Течение воды </font> </TD>
</TR>
</TABLE>


<P><font size="4">Подробнее см.:&nbsp;<br>Е. С. Грунтова. Латинская система глаголов плавания и ее развитие в романских языках (французском, итальянском, испанском) // Т. А. Майсак, Е. В. Рахилина (ред.) 
<a href="volume">Глаголы движения в воде: лексическая типология</a>. М.: Индрик, 2007.
[<a href="11-Gruntova.pdf">PDF</a>]</font></P>

<P>&nbsp;</P>
<h3><a name="portugues">Португальский язык</a></h3>

<TABLE BORDER CELLSPACING=1 CELLPADDING=7 WIDTH=619>
<TR><TD WIDTH="33%" VALIGN="TOP">
<B><P><font size="4">Глагол</font></B></TD>
<TD WIDTH="67%" VALIGN="TOP">
<B><P><font size="4">Контексты употребления</font></B></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">nadar</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Активное плавание (все субъекты)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">sobrenadar<br>
</font>
</I><font size="4">&lt;приставочный дериват&gt;</font></P>
  </TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Нахождение на поверхности</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">flutuar </font> </I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Способность держаться на воде и не тонуть</font></P>
<P><font size="4">Пассивное перемещение и нахождение в воде </font> </TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">boiar</font></P>
</I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Пассивное ненаправленное перемещение и нахождение на поверхности (покачивание на волнах)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">navegar</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Управляемое движение судна, человека на судне</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">marear<br>
</font>
</I><font size="4">&lt;периферийный&gt;</font></P>
  </TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Перемещение по морю судна, человека на судне</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">velejar<br>
</font>
</I><font size="4">&lt;от <I>vela</I> 'парус'&gt;</font></P>
  </TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Перемещение парусного судна, человека на судне</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">singrar</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Перемещение парусного судна, человека на судне</font></P>
<P><font size="4">Быстрое перемещение судна (не только парусного), "рассекая волны"</font></TD>
</TR>
</TABLE>


<P><font size="4">Подробнее см.:&nbsp;<br>Т. А. Майсак. Глаголы перемещения в воде в португальском языке // Т. А. Майсак, Е. В. Рахилина (ред.) 
<a href="volume">Глаголы движения в воде: лексическая типология</a>. М.: Индрик, 2007. 
[<a href="10-Maisak-port.pdf">PDF</a>]</font></P>




<P>&nbsp;</P>




</blockquote>

</body>

</html>
