<!DOCTYPE html>
<html lang="en">

<head>

<title>AQUA-motion - Языки</title>

<STYLE TYPE="text/css">
a:link {color: blue; text-decoration: none}
a:active { color: yellow; text-decoration: none}
a:visited { color: darkgreen; text-decoration: none}
a:hover { color: red; text-decoration: none}
</style>

</head>

<body bgcolor="#e3f3ff">

<h1 align="center"><font color="#0000FF">* AQUA-motion *</font><font color="#000080"><br>
Глаголы движения в воде:<br>
лексическая типология</font></h1>
<blockquote>
  <p align="center"><b><font size="4" color="#0000FF">~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
  ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~<br>
  </font></b><font size="4"><a href="/">Главная</a> | <a href="project">О
  проекте</a> | <a href="domains">Семантические зоны
  плавания</a> | <a href="systems">Системы глаголов
  плавания</a> | <a href="languages">Языки</a><br>
  <a href="methodology">Методика изучения</a> | <a href="publications">Публикации</a>
  | <a href="authors">Участники</a> | <a href="contacts">Контакты</a>
  | <a href="/gb">Гостевая</a>
  | </font><font color="#000080"> 
			<img border="0" src="english_flag.gif" width="25" height="16" align="center">
			</font><font size="4"><a href="index-engl">English Version</a>&nbsp;</font><b><font color="#000080" size="4"><br>
  </font><font size="4" color="#0000FF">~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
  ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~</font></b></p>
</blockquote>


<blockquote>

<P>&nbsp;</P>

<B><h2 align="center">Системы глаголов плавания&nbsp;<br>
 славянских и балтийских языков</h2>
</B>
<P>&nbsp;</P>
<h3><a name="russian">Русский язык</a></h3>

<TABLE BORDER CELLSPACING=1 CELLPADDING=7 WIDTH=619>
<TR><TD WIDTH="33%" VALIGN="TOP">
<B><P><font size="4">Глагол</font></B></TD>
<TD WIDTH="67%" VALIGN="TOP">
<B><P><font size="4">Контексты употребления</font></B></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">плыть</font></P>
</I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<U><P><font size="4">При однонаправленном перемещении:</font></P>
</U><P><font size="4">Активное плавание (все субъекты)</font></P>
<P><font size="4">Перемещение судов и людей на судах</font></P>
<P><font size="4">Пассивное перемещение</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">плавать</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<U><P><font size="4">При итеративном или разнонаправленном перемещении:</font></P>
</U><P><font size="4">Активное плавание (все субъекты)</font></P>
<P><font size="4">Перемещение судов и людей на судах</font></P>
<P><font size="4">Пассивное перемещение</font></P>
<P><font size="4">+<br>
Способность плавать (активно / пассивно)</font></P>
<P><font size="4">Нахождение в воде (на поверхности или в толще)</font></TD>
</TR>
</TABLE>


<P><font size="4">Подробнее см.:&nbsp;<br>Е. В. Рахилина. Глаголы плавания в русском языке // Т. А. Майсак, Е. В. Рахилина (ред.) 
<a href="volume">Глаголы движения в воде: лексическая типология</a>. М.: Индрик, 2007. 
[<a href="12-Rakhilina-rus.pdf">PDF</a>]</font></P>


<P>&nbsp;</P>

<h3><a name="polish">Польский язык</a></h3>

<TABLE BORDER CELLSPACING=1 CELLPADDING=7 WIDTH=619>
<TR><TD WIDTH="33%" VALIGN="TOP">
<B><P><font size="4">Глагол</font></B></TD>
<TD WIDTH="67%" VALIGN="TOP">
<B><P><font size="4">Контексты употребления</font></B></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">p&#322;yn&#261;&#263;</font></P>
</I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<U><P><font size="4">При однонаправленном перемещении:</font></P>
</U><P><font size="4">Активное плавание (все субъекты)</font></P>
<P><font size="4">Перемещение судов и людей на судах</font></P>
<P><font size="4">Пассивное перемещение </font> </P>
<P><font size="4">+<br>
Течение воды (об ограниченных и направленных потоках типа реки, ручья)</font></P>
  </TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">p&#322;ywa&#263;</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<U><P><font size="4">При итеративном или разнонаправленном перемещении:</font></P>
</U><P><font size="4">Активное плавание (все субъекты)</font></P>
<P><font size="4">Перемещение судов и людей на судах</font></P>
<P><font size="4">Пассивное перемещение</font></P>
<P><font size="4">+<br>
Способность плавать (активно / пассивно)</font></P>
<P><font size="4">Нахождение в воде (на поверхности или в толще)</font></TD>
</TR>
</TABLE>


<P><font size="4">Подробнее см.:&nbsp;<br>И. А. Прокофьева. Перемещение в воде и воды: глаголы <I>p&#322;yn&#261;&#263;</I> / <I>p&#322;ywa&#263;</I> 'плыть / плавать' в польском языке // Т. А. Майсак, Е. В. Рахилина (ред.) 
<a href="volume">Глаголы движения в воде: лексическая типология</a>. М.: Индрик, 2007. 
[<a href="14-Prokofieva.pdf">PDF</a>]</font></P>

<P>&nbsp;</P>
<h3><a name="macedonian">Македонский язык</a></h3>

<TABLE BORDER CELLSPACING=1 CELLPADDING=7 WIDTH=619>
<TR><TD WIDTH="33%" VALIGN="TOP">
<B><P><font size="4">Глагол</font></B></TD>
<TD WIDTH="67%" VALIGN="TOP">
<B><P><font size="4">Контексты употребления</font></B></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">плива</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Активное плавание (все субъекты)</font></P>
<P><font size="4">Перемещение человека на судне (лодке, плоту и т.п. — при наличии активных движений управляющего ими человека)</font></P>
<P><font size="4">Нахождение в воде (субъект погружен в жидкость) </font> </TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">плови</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Пассивное плавание </font> </P>
<P><font size="4">Плавание судов </font> </P>
<P><font size="4">Перемещение человека на судне (напр. корабле — при отсутствии активных движений)</font></P>
<P><font size="4">Способность субъекта не тонуть </font> </P>
<P><font size="4">Нахождение в воде (субъект находится на поверхности)</font></TD>
</TR>
</TABLE>


<P><font size="4">Подробнее см.:&nbsp;<br>Д. С. Ганенков. Глаголы перемещения в воде: южнославянские языки // Т. А. Майсак, Е. В. Рахилина (ред.) 
<a href="volume">Глаголы движения в воде: лексическая типология</a>. М.: Индрик, 2007. 
[<a href="13-Ganenkov.pdf">PDF</a>]</font></P>


<P>&nbsp;</P>

<h3><a name="serbian">Сербохорватский язык</a></h3>

<TABLE BORDER CELLSPACING=1 CELLPADDING=7 WIDTH=619>
<TR><TD WIDTH="33%" VALIGN="TOP">
<B><P><font size="4">Глагол</font></B></TD>
<TD WIDTH="67%" VALIGN="TOP">
<B><P><font size="4">Контексты употребления</font></B></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">пливати</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Активное плавание (все субъекты)</font></P>
<P><font size="4">Перемещение человека на судне (лодке, плоту и т.п. — при наличии активных движений управляющего ими человека)</font></P>
<P><font size="4">Способность субъекта не тонуть</font></P>
<P><font size="4">Нахождение в воде</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">пловити</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Пассивное плавание </font> </P>
<P><font size="4">Плавание судов </font> </P>
<P><font size="4">Перемещение человека на судне (напр. корабле — при отсутствии активных движений)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">плутати</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Способность субъекта не тонуть</font></P>
<P><font size="4">Нахождение в воде</font></TD>
</TR>
</TABLE>


<P><font size="4">Подробнее см.:&nbsp;<br>Д. С. Ганенков. Глаголы перемещения в воде: южнославянские языки // Т. А. Майсак, Е. В. Рахилина (ред.) 
<a href="volume">Глаголы движения в воде: лексическая типология</a>. М.: Индрик, 2007. 
[<a href="13-Ganenkov.pdf">PDF</a>]</font></P>


<P>&nbsp;</P>

<h3><a name="bulgarian">Болгарский язык (система с двумя глаголами плавания)*</a></h3>

<TABLE BORDER CELLSPACING=1 CELLPADDING=7 WIDTH=619>
<TR><TD WIDTH="33%" VALIGN="TOP">
<B><P><font size="4">Глагол</font></B></TD>
<TD WIDTH="67%" VALIGN="TOP">
<B><P><font size="4">Контексты употребления</font></B></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">плувам</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Активное плавание (все субъекты, в т.ч. птицы)</font></P>
<P><font size="4">Перемещение человека на судне (лодке, плоту и т.п. — при наличии активных движений управляющего ими человека)</font></P>
<P><font size="4">Способность субъекта не тонуть</font></P>
<P><font size="4">Нахождение в воде</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">плавам</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Пассивное плавание </font> </P>
<P><font size="4">Плавание птиц </font> </P>
<P><font size="4">Плавание судов </font> </P>
<P><font size="4">Перемещение человека на судне (напр. корабле — при отсутствии активных движений)</font></P>
<P><font size="4">Нахождение в воде</font></TD>
</TR>
</TABLE>


<P>&nbsp;</P>


<h3>Болгарский язык (система с одним глаголом плавания)*</h3>

<TABLE BORDER CELLSPACING=1 CELLPADDING=7 WIDTH=681>
<TR><TD WIDTH="33%" VALIGN="TOP">
<B><P><font size="4">Глагол</font></B></TD>
<TD WIDTH="67%" VALIGN="TOP">
<B><P><font size="4">Контексты употребления</font></B></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">плувам</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Активное плавание (все субъекты)</font></P>
<P><font size="4">Плавание судов и людей на судах</font></P>
<P><font size="4">Способность субъекта не тонуть</font></P>
<P><font size="4">Нахождение в воде</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">плавам</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">&lt;не употребляется&gt;</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">нося се </font> </I><font size="4">'быть несомым', </font> </P>
<I><P><font size="4">държа се</font></I><font size="4"> 'держаться',</font></P>
<I><P><font size="4">има</font></I><font size="4"> 'быть, находиться'</font></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Пассивное плавание (в т.ч. нахождение в воде) Способность субъекта не тонуть</font></TD>
</TR>
</TABLE>


<FONT SIZE=4><P>* <u>Примечание</u>: в современном болгарском языке идиолетная вариативность в употреблении глаголов плавания довольно высока, однако часть носителей (независимо от возраста) признает наличие лишь одного основного глагола перемещения в воде — <I>плувам</I>, который покрывает собой всю семантическую зону перемещения в воде (наряду с неспециализированными лексемами). </P>
</FONT>
<P><font size="4">Подробнее см.:&nbsp;<br>Д. С. Ганенков. Глаголы перемещения в воде: южнославянские языки // Т. А. Майсак, Е. В. Рахилина (ред.) 
<a href="volume">Глаголы движения в воде: лексическая типология</a>. М.: Индрик, 2007. 
[<a href="13-Ganenkov.pdf">PDF</a>]</font></P>
<h3><a name="lithuanian">Литовский язык</a></h3>

<TABLE BORDER CELLSPACING=1 CELLPADDING=7 WIDTH=681>
<TR><TD WIDTH="33%" VALIGN="TOP">
<B><P><font size="4">Глагол</font></B></TD>
<TD WIDTH="67%" VALIGN="TOP">
<B><P><font size="4">Контексты употребления</font></B></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">plaukti</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<U><P><font size="4">При целенаправленном перемещении:</font></P>
</U><P><font size="4">Активное плавание (все субъекты) </font> </P>
<P><font size="4">Перемещение судов и людей на судах</font></P>
<P><font size="4">Пассивное перемещение </font> </P>
<P><font size="4">+<br>
Способность плавать (активно / пассивно)</font></P>
<P><font size="4">Течение воды (реки, слез и пр.)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">plaukioti</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Активное плавание (все субъекты) — <U>при разнонаправленном или многократном (и целенаправленном) перемещении</U> 
</font> </P>
<P><font size="4">Перемещение судов и людей на судах — </font> <U>
<font size="4">при многократном (и целенаправленном) перемещении</font></P>
</U><P><font size="4">+<br>
Нахождение на поверхности воды</font></P>
 </TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">plaukyti</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Перемещение животного (но не человека) в разных направлениях</font></P>
<P><font size="4">Нахождение на поверхности воды</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">pl&#363;duriuoti</font></I></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Нахождение на поверхности воды</font></TD>
</TR>
</TABLE>


<P><font size="4">Подробнее см.:&nbsp;<br>П. М. Аркадьев. Глаголы перемещения в воде в литовском языке // Т. А. Майсак, Е. В. Рахилина (ред.) 
<a href="volume">Глаголы движения в воде: лексическая типология</a>. М.: Индрик, 2007. 
[<a href="15-Arkadiev.pdf">PDF</a>]</font></P>



<P>&nbsp;</P>



</blockquote>

</body>

</html>
