<!DOCTYPE html>
<html lang="en">

<head>

<title>AQUA-motion - Языки</title>

<STYLE TYPE="text/css">
a:link {color: blue; text-decoration: none}
a:active { color: yellow; text-decoration: none}
a:visited { color: darkgreen; text-decoration: none}
a:hover { color: red; text-decoration: none}
</style>

</head>

<body bgcolor="#e3f3ff">

<h1 align="center"><font color="#0000FF">* AQUA-motion *</font><font color="#000080"><br>
</font><b><font color="#000080" size="6">Lexical typology of</font></b><font color="#000080" size="6"><b> 
predicates <br>
denoting motion in a liquid medium</b></font></h1>
<blockquote>
  <p align="center"><font size="5" color="#0000FF"><b>~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ 
	~<br>
  </b></font>
			<img border="0" src="russian_flag.gif" width="25" height="16" align="center"><font size="4">
	<a href=".">Main Page (Russian)</a></font><font size="4"> | 
	</font><font color="#000080"> 
			<img border="0" src="english_flag.gif" width="25" height="16" align="center">
	
			</font><font size="4"><a href="index-engl">
	Main Page (English)</a><br>
	&nbsp;</font><font color="#000080"><img border="0" src="english_flag.gif" width="25" height="16" align="center">
	
			</font><font size="4"><a href="summary">Summary</a>
	|&nbsp;</font><font color="#000080"><img border="0" src="english_flag.gif" width="25" height="16" align="center">
	
			</font><font size="4">
	<a href="publications-eng">Publications</a>
  | </font><font color="#000080"> 
			<img border="0" src="english_flag.gif" width="25" height="16" align="center">
	
			</font><font size="4"><a href="contacts-eng">
	Contacts</a>
  | </font>
			<img border="0" src="russian_flag.gif" width="25" height="16" align="center"><font color="#000080"> 
	/ 
			<img border="0" src="english_flag.gif" width="25" height="16" align="center">
	
			</font><font size="4">
	<a href="gb">Guestbook</a></font><b><font size="4" color="#000080"><br>
  </font><font size="5" color="#0000FF">~ ~ ~ ~ ~ ~ ~ ~ ~ ~
  ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~</font></b><font size="5" color="#0000FF"><b> 
	~</b></font></p>
</blockquote>




<blockquote>

<P>&nbsp;</P>

<h2>Publications</h2>
<P><font size="4">The main publication that appeared after five years of working 
on the project (2002—2006) is the collective volume:</font></P>

<blockquote>

<P><font size="4"><b>Глаголы движения в воде: лексическая типология</b> 
/ Ред. Т. А. Майсак, Е. В. Рахилина. — М.: Издательство «<a href="http://indrik.narod.ru" target="_blank">Индрик</a>», 2007. — 752 с.</font></P>

</blockquote> 

<P>&nbsp;</P>

<B><h2>Lexical typology of AQUA-motion: A summary</h2>
<P>&nbsp;</P>
</B>
<P><font size="4">Our project is devoted to the description and cross-linguistic comparison of <B>aqua-motion predicates</B>, i.e. predicates denoting motion in a liquid medium Ц like <I>swim</I>, <I>sail</I> and <I>float</I> in English, <I>nager</I>, <I>naviguer</I>, <I>flotter</I> and <I>surnager</I> in French or <I>p&#322;yn&#261;&#263; </I>and<I> p&#322;ywa&#263;</I> in Polish. At the heart of the project there was an assumption that despite the fact that the lexicons of different languages show considerable variation, this variation is predictable to some degree. To test this assumption by the example of aqua-motion predicates was even more important given that motion verbs in general constitute a part of the core lexicon of any language. Importantly, however, we concentrated more on the manner component of motion rather than on its path component Ц unlike most of the previous investigations of motion verbs (such as those of Leonard Talmy and Charles Fillmore).</font></P>
<P><font size="4">Within the project's framework some data have been collected on aqua-motion predicates in more than
<B>forty languages</B>, either with the help of a special questionnaire or by examination of text corpora. This made it possible to compare aqua-motion systems in various parameters, whose virtual presence, however, varies from language to language.</font></P>
<P><font size="4">The data collected by the project team suggest a number of generalizations concerning systems of aqua-motion predicates in different languages. In particular, an important distinction has been made between the three
<B>semantic domains of aqua-motion</B>, namely those of SWIMMING (Уactive motionФ), SAILING (motion of vessels or aboard a vessel) and FLOATING (Уpassive motionФ). Some languages manifest further distinctions, especially in the domain of FLOATING, where occasionally one can observe a contrast between drift and being on the surface.</font></P>
<P><font size="4">The distinction between SWIMMING, SAILING and FLOATING shows itself in the composition of the aqua-motion lexicon and certain (semantic and grammatical) properties of particular aqua-motion predicates but also, for example, in certain tendencies governing the distribution of general verbs of motion such as 'come' and 'go' (which apparently prefer the SAILING domain) and metaphorical extensions of aqua-motion verbs. The borderlines between the three domains are not always clear-cut, however, and this points to the fact that in reality these domains are only the result of interplay of several semantic parameters (e.g., controllability, the presence of special efforts etc.). Such parameters manifest themselves also within the semantic domains, which occasionally display some heterogeneity.</font></P>
<P><font size="4">At the same time, the distinction between SWIMMING, SAILING and FLOATING appears to be a suitable basis for the
<B>typology of aqua-motion systems</B> describing them in terms of their УrichnessФ and УpoornessФ, depending on whether a system elaborates on some of the domains or conversely neutralizes certain basic distinctions. Curiously, the typology attributing aqua-motion systems to <I>standard,</I><FONT COLOR="#0000ff"> </FONT><I>poor</I> and <I>rich</I> ones turns out to be a useful tool not only in characterization of a language but also in establishing relations between a language's cultural and geographical environment and its lexicon (thus, for instance, poor systems are found predominantly in languages of peoples, for which the very role of aqua-motion is extremely low; cf. the aqua-motion systems of Caucasian mountain-dwellers).</font></P>
<P><font size="4">The volume &quot;<I>Glagoly dvizhenija v vode: Leksicheskaja tipologija</I>" [Verbs of aqua-motion: lexical typology] was prepared during the project and published by the
<a href="http://indrik.narod.ru" target="_blank">Indrik publishing house</a> in early 2007. It consists of ten parts and an appendix. The first part includes three papers devoted to general issues. A paper by Vladimir Plungian and Ekaterina Rakhilina focuses on the goals and peculiarities of lexical typology (as compared to grammatical typology) and summarizes its main principles. A paper by the editors, Timur Maisak and E. Rakhilina outlines the major distinctions found within and among aqua-motion systems as well as overall tendencies for combining various senses in a single lexeme. The final paper of this part written by E. Rakhilina elaborates on cross-linguistic regularities in metaphorical extensions of aqua-motion verbs.</font></P>
<P><font size="4">Next follow those parts that give detailed portraits of individual aqua-motion systems. These parts are organized on the basis of linguistic areas and include those devoted to</font></P>

<UL>
<P><LI><font size="4">Latin, Romance and Germanic languages (papers on Modern English by Ekaterina Golubkova and E. Rakhilina, Swedish by Maria Koptjevskaja-Tamm, Dutch by Maarten Lemmens and Dagmar Divjak, German by Olga Shemanaeva, Portuguese by T. Maisak, and Latin against modern Romance languages by Elena Grountova),</LI>
</font>
<P><LI><font size="4">Slavic and Baltic languages (papers on Russian by E. Rakhilina, South Slavic languages by Dmitry Ganenkov, Polish by Irina Prokofieva and Lithuanian by Peter Arkadiev),</LI>
</font>
<P><LI><font size="4">Persian (Julia Kuznetsova) and Ancient Greek (Maxim Kisilier),</LI>
</font>
<P><LI><font size="4">Uralic and Turkic languages (papers on Finnish by Arto Mustajoki and Ekaterina Protassova, Selkup, Komi and Udmurt by Natalia Vostrikova, Nganasan by Valentin Goussev, and Karachay-Balkar, Khakass and Turkish by T. Maisak),</LI>
</font>
<P><LI><font size="4">Semitic languages (papers on Classical Arabic by Alexander Letuchiy and Modern Hebrew by Maya Arad),</LI>
</font>
<P><LI><font size="4">languages of South Asia (papers on West Indo-Aryan by Liudmila Khokhlova and Charanjit Singh, Bengali by Yana Kolotova, Tamil by Anna Smirnitskaya as well as a paper on the diachronical aspects of Indo-Aryan aqua-motion verbs by Boris Zakharyin), </LI>
</font>
<P><LI><font size="4">languages of East and South-East Asia (papers on Chinese by Maria Rukodelnikova, Japanese by Anna Panina, Korean by Lee Su Hyoun and T. Maisak and Standard Indonesian by Yury Lander and Svetlana Kramarova),</LI>
</font>
<P><LI><font size="4">languages of the Caucasus (a paper by T. Maisak in collaboration with Alexander Rostovtsev-Popel and Victoria Khurshudian), </LI>
</font>
<P><LI><font size="4">the African language Maninka (a paper by Valentin Vydrine).</font></LI></UL>


<P><font size="4">The appendix contains a paper by V. Plungian and E. Rakhilina, who show that the expression of the different, yet semantically related zone of FLYING can coincide not only with that of aqua-motion but also with the expression of jumping and falling. Thus, this paper makes a bridge between the zone of aqua-motion and other lexical zones. 
</font> </P>


<P><font size="4">The volume can be ordered via the <a href="http://www.kniginina.ru/index.php?&amp;setlang=en" target="_blank">NINA
Book Gallery</a> (e-mail: <a href="mailto:nina_dom@mtu-net.ru">nina_dom@mtu-net.ru</a>). 
</font> </P>

<P><font size="4">In general, the authors hope that despite the fact that our project is only the first experience of this kind of investigation, it nevertheless may provide useful methodology for future studies in lexical typology.</font></P>

<P>&nbsp;</P>

<I><P><font size="4">Timur Maisak &amp; Ekaterina Rakhilina</font></P>
</I>

<P>&nbsp;</P>

</blockquote>

<hr>

<blockquote>
<p align="center">The web-site was created in 2006,
with financial support from<br>
<b>
<a target="_blank" href="http://www.rfbr.ru/eng/">Russian Foundation for Basic Research</a></b><br>
(grant # 05-06-80400a)<p align="center"><a href="/"><img border="0" src="Image1.jpg" alt="На главную | To the main page" width="134" height="116"></a></p>
</blockquote>

</body>

</html> 
