<!DOCTYPE html>
<html lang="en">

<head>

<title>AQUA-motion - Языки</title>

<STYLE TYPE="text/css">
a:link {color: blue; text-decoration: none}
a:active { color: yellow; text-decoration: none}
a:visited { color: darkgreen; text-decoration: none}
a:hover { color: red; text-decoration: none}
</style>

</head>

<body bgcolor="#e3f3ff">

<h1 align="center"><font color="#0000FF">* AQUA-motion *</font><font color="#000080"><br>
Глаголы движения в воде:<br>
лексическая типология</font></h1>
<blockquote>
  <p align="center"><b><font size="4" color="#0000FF">~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
  ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~<br>
  </font></b><font size="4"><a href=".">Главная</a> | <a href="project">О
  проекте</a> | <a href="domains">Семантические зоны
  плавания</a> | <a href="systems">Системы глаголов
  плавания</a> | <a href="languages">Языки</a><br>
  <a href="methodology">Методика изучения</a> | <a href="publications">Публикации</a>
  | <a href="authors">Участники</a> | <a href="contacts">Контакты</a>
  | <a href="gb">Гостевая</a>
  | </font><font color="#000080"> 
			<img border="0" src="english_flag.gif" width="25" height="16" align="center">
			</font><font size="4"><a href="index-engl">English Version</a>&nbsp;</font><b><font color="#000080" size="4"><br>
  </font><font size="4" color="#0000FF">~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
  ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~</font></b></p>
</blockquote>

<blockquote>

<P>&nbsp;</P>

<B><h2 align="center">Средние и бедные системы в тюркских языках</h2>
<P>&nbsp;</P>
</B>
<h3><a name="balkar">Карачаево-балкарский язык</a></h3>
<P><font size="4">(средняя система с периферийным глаголом пассивного плавания на поверхности)</font></P>

<TABLE BORDER CELLSPACING=1 CELLPADDING=7 WIDTH=619>
<TR><TD WIDTH="33%" VALIGN="TOP">
<B><P><font size="4">Глагол</font></B></TD>
<TD WIDTH="67%" VALIGN="TOP">
<B><P><font size="4">Контексты употребления</font></B></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">джюзерге</font></I><font size="4"> 'плавать'</font></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Активное плавание (все субъекты)</font></P>
<P><font size="4">Плавание судов: маргинально</font></P>
<P><font size="4">Пассивное плавание: маргинально</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">къалкъаргъа </font> </I><font size="4">'парить (о птицах); плавать на поверхности'<br>
&lt;периферийный&gt;</font></P>
  </TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Всплытие, пассивное плавание на поверхности</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<P><font size="4">Общие глаголы движения</font></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Плавание судов и на судах (<I>барыргъа</I> 'идти, уходить', <I>килерге</I> 'приходить' и др.)</font></P>
<P><font size="4">Пассивное плавание, способность не тонуть (<I>барыргъа</I> 'идти, уходить', <I>килерге</I> 'приходить' и др.)</font></P>
<P><font size="4">Всплытие (<I>чыгъаргъа</I> 'выходить')</font></P>
<P><font size="4">Течение воды (<I>барыргъа</I> 'идти, уходить', <I>килерге</I> 'приходить')</font></TD>
</TR>
</TABLE>

<P><font size="4">Подробнее см.:&nbsp;<br>Т. А. Майсак. Системы с глаголом плавания *<I>й&#1199;з</I>- в трех тюркских языках // Т. А. Майсак, Е. В. Рахилина (ред.) 
<a href="volume.htm">Глаголы движения в воде: лексическая типология</a>. М.: Индрик, 2007. 
[<a href="21-Maisak-turk.pdf">PDF</a>]</font></P>

<P>&nbsp;</P>


<h3><a name="khakass">Хакасский язык</a></h3>
<P><font size="4">(средняя система с периферийным глаголом пассивного перемещения)</font></P>

<TABLE BORDER CELLSPACING=1 CELLPADDING=7 WIDTH=619>
<TR><TD WIDTH="33%" VALIGN="TOP">
<B><P><font size="4">Глагол</font></B></TD>
<TD WIDTH="67%" VALIGN="TOP">
<B><P><font size="4">Контексты употребления</font></B></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">ч&#255;зерге</font></I><font size="4"> 'плавать'</font></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Активное плавание (все субъекты)</font></P>
<P><font size="4">Плавание судов и на судах</font></P>
<P><font size="4">Пассивное плавание: маргинально (в сагайском диалекте: стандартно)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">ч&#255;с ч&#246;рерге</font></I><font size="4"> 'плавая ходить'</font></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Ненаправленнное перемещение (активное и пассивное)</font></P>
<P><font size="4">Способность не тонуть</font></P>
<P><font size="4">Нахождение в воде</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">а&#1171;ар&#1171;а</font></I><font size="4"> 'течь, плыть по течению'</font></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Течение воды</font></P>
<P><font size="4">Пассивное плавание по течению: маргинально</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<P><font size="4">Общие глаголы движения</font></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Активное и пассивное плавание (при фокусе на направление перемещения)</font></P>
<P><font size="4">Всплытие (<I>сы&#1171;ар&#1171;а</I> 'выходить, подниматься', <I>килерге </I>'приходить, приближаться')</font></P>
<P><font size="4">Спуск вниз по течению (<I>инерге</I> 'плыть по течению реки, спускаться')</font></TD>
</TR>
</TABLE>

<P><font size="4">Подробнее см.:&nbsp;<br>Т. А. Майсак. Системы с глаголом плавания *<I>й&#1199;з</I>- в трех тюркских языках // Т. А. Майсак, Е. В. Рахилина (ред.) 
<a href="volume.htm">Глаголы движения в воде: лексическая типология</a>. М.: Индрик, 2007. 
[<a href="21-Maisak-turk.pdf">PDF</a>]</font></P>


<P>&nbsp;</P>


<h3><a name="turkish">Турецкий язык</a></h3>
<P><font size="4">(бедная система; глагол течения воды не описывает перемещения по воде)</font></P>

<TABLE BORDER CELLSPACING=1 CELLPADDING=7 WIDTH=619>
<TR><TD WIDTH="33%" VALIGN="TOP">
<B><P><font size="4">Глагол</font></B></TD>
<TD WIDTH="67%" VALIGN="TOP">
<B><P><font size="4">Контексты употребления</font></B></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">y&#252;zmek</font></I><font size="4"> 'плавать'</font></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Активное плавание (все субъекты)</font></P>
<P><font size="4">Плавание судов и на судах </font> </P>
<P><font size="4">Пассивное плавание, нахождение на поверхности</font></P>
<P><font size="4">Способность не тонуть</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">&#231;immek</font></I><font size="4"> 'купаться, барахтаться'<br>
&lt;периферийный&gt;</font></P>
  </TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Активное плавание (люди)</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<I><P><font size="4">akmak</font></I><font size="4"> 'течь, литься'</font></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Течение воды</font></TD>
</TR>
<TR><TD WIDTH="33%" VALIGN="TOP">
<P><font size="4">Общие глаголы движения</font></TD>
<TD WIDTH="67%" VALIGN="TOP">
<P><font size="4">Активное и пассивное плавание (при фокусе на направление перемещения)</font></P>
<P><font size="4">Всплытие (<I>&#231;&#305;kmak</I> 'выходить, подниматься', <I>gelmek</I> 'идти сюда, приходить')</font></TD>
</TR>
</TABLE>


<P><font size="4">Подробнее см.:&nbsp;<br>Т. А. Майсак. Системы с глаголом плавания *<I>й&#1199;з</I>- в трех тюркских языках // Т. А. Майсак, Е. В. Рахилина (ред.) 
<a href="volume.htm">Глаголы движения в воде: лексическая типология</a>. М.: Индрик, 2007. 
[<a href="21-Maisak-turk.pdf">PDF</a>]</font></P>

<P>&nbsp;</P>



</blockquote>

<hr>

<blockquote>
<p align="center">Сайт создан в 2006 г. при финансовой поддержке<br>
<a href="http://www.rfbr.ru" target="_blank"><b>Российского фонда
фундаментальных исследований</b></a><br>
(грант № 05-06-80400а)
</blockquote>

</body>

</html>
