<!DOCTYPE html>
<html lang="en">

<head>

<title>AQUA-motion - Языки</title>

<STYLE TYPE="text/css">
a:link {color: blue; text-decoration: none}
a:active { color: yellow; text-decoration: none}
a:visited { color: darkgreen; text-decoration: none}
a:hover { color: red; text-decoration: none}
</style>

</head>

<body bgcolor="#e3f3ff">

<h1 align="center"><font color="#0000FF">* AQUA-motion *</font><font color="#000080"><br>
Глаголы движения в воде:<br>
лексическая типология</font></h1>
<blockquote>
  <p align="center"><b><font size="4" color="#0000FF">~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
  ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~<br>
  </font></b><font size="4"><a href=".">Главная</a> | <a href="project">О
  проекте</a> | <a href="domains">Семантические зоны
  плавания</a> | <a href="systems">Системы глаголов
  плавания</a> | <a href="languages">Языки</a><br>
  <a href="methodology">Методика изучения</a> | <a href="publications">Публикации</a>
  | <a href="authors">Участники</a> | <a href="contacts">Контакты</a>
  | <a href="gb">Гостевая</a>
  | </font><font color="#000080"> 
			<img border="0" src="english_flag.gif" width="25" height="16" align="center">
			</font><font size="4"><a href="index-engl">English Version</a>&nbsp;</font><b><font color="#000080" size="4"><br>
  </font><font size="4" color="#0000FF">~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
  ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~</font></b></p>
</blockquote>




<blockquote>

<P>&nbsp;</P>


<h2> Глаголы движения в воде: лексическая типология
/ Ред. Т. А. Майсак, Е. В. Рахилина. — М.: Издательство «<a href="http://indrik.narod.ru" target="_blank">Индрик</a>», 2007. — 752 с.</h2>


<table border="0" width="92%">
  <tr>
    <td width="69%">


<p> <font size="4">ISBN 5-85759-396-4</font></p>


<p align="left"> <font size="4">УДК 81’44<br>
ББК 81-3<br>
Г 52</font></p>


<P><font size="4">Сборник открывается общетеоретической статьей о принципах построения лексической типологии; 28 конкретных исследований по отдельным языкам и группам,
объединенные по ареально-генетическому принципу, предваряются двумя вводными статьями — о прямых и переносных значениях глаголов плавания. В заключение, в качестве фона к описанию глаголов плавания как особого способа движения, дается краткий очерк типологии глаголов летания и прыгания.</font></P>


<p align="left"> <font size="4">Издание подготовлено и осуществлено при финансовой поддержке
<a href="http://www.rfh.ru" target="_blank">Российского гуманитарного научного фонда</a>
(проект № 05-04-16046д).</font></p>


<p align="left"><font size="4">По вопросам приобретения книги 
можно обратиться</font><font size="4"> в сеть 
магазинов &quot;<a href="http://www.kniginina.ru" target="_blank">Галерея книги НИНА</a>&quot;.</font></p>
<p align="left"><font size="4">Статьи сборника можно также 
скачать в формате PDF на этой странице.</font></p>


    </td>
    <td width="31%"><a href="oblozhka-sm.JPG"><img border="0" src="oblozhka-sm.JPG" width="294" height="403" alt="Дизайн обложки - Н. В. Плунгян"></a></td>
  </tr>
</table>


<p align="left"></p>

<P align="left">&nbsp;</P>
<h2 align="left">Состав сборника</h2>
<p align="right">

<a href="http://www.adobe.com/products/acrobat/readstep2.html" target="_blank"><img alt="Acrobat Reader" src="http://www.adobe.com/images/get_adobe_reader.gif" align="right" height="31" hspace="10" style="margin-top:-3px;"></a><i>Для 
      просмотра документов в формате PDF <br>
Вам потребуется 
      программа 
<a href="http://www.adobe.com/products/acrobat/readstep2.html" target="_blank">Adobe 
      Reader</a></i> </p>
<h3 align="left"><font size="4">
Титульный лист и оглавление [<a href="1-Titul-TOC.pdf">PDF</a>]</font></h3>

<B><h3>Вводная часть</h3>
</B><P><font size="4">От редакторов
[<a href="2-Ot_redaktorov.pdf">PDF</a>] </font> </P>
<P><font size="4">О лексико-семантической типологии </font> <i> <font size="4">(Е. В. Рахилина, В. А. Плунгян)</font></i><font size="4">
[<a href="3-Rakhilina-Plungian.pdf">PDF</a>]</font></P>
<P><font size="4">Глаголы движения и нахождения в воде: лексические системы и семантические параметры
</font>
<i> <font size="4">(Т. А. Майсак, Е. В. Рахилина)</font></i><font size="4">
[<a href="4-Maisak-Rakhilina.pdf">PDF</a>]</font></P>
<P><font size="4">Типы метафорических употреблений глаголов плавания
</font>
<i> <font size="4">(Е. В. Рахилина)</font></i><font size="4">
[<a href="5-Rakhilina-metaf.pdf">PDF</a>]</font></P>

<B><h3>Латинский, романские и германские языки</h3>
</B><P><font size="4">Глаголы плавания в современном английском языке (<i>Е. Е. Голубкова, Е. В. Рахилина)</i>
[<a href="6-Golubkova-Rakhilina.pdf">PDF</a>] </font> </P>
<P><font size="4">Глаголы перемещения в воде в шведском языке
</font>
<i> <font size="4">(М. Копчевская-Тамм)</font></i><font size="4">
[<a href="7-Koptjevskaja-Tamm.pdf">PDF</a>]</font></P>
<P><font size="4">Lexical conflation patterns in Dutch aquamotion verbs </font> <i> 
<font size="4">(D. Divjak, M. Lemmens)</font></i><font size="4">
[<a href="8-Divjak-Lemmens.pdf">PDF</a>]</font></P>
<P><font size="4">Выражение перемещения в воде в немецком языке
</font>
<i> <font size="4">(О. Ю. Шеманаева)</font></i><font size="4">
[<a href="9-Shemanaeva.pdf">PDF</a>]</font></P>
<P><font size="4">Глаголы перемещения в воде в португальском языке
</font>
<i> <font size="4">(Т. А. Майсак)</font></i><font size="4">
[<a href="10-Maisak-port.pdf">PDF</a>]</font></P>
<P><font size="4">Латинская система глаголов плавания и ее развитие в романских языках (французском, итальянском, испанском)
</font>
<i> <font size="4">(Е. С. Грунтова)</font></i><font size="4">
[<a href="11-Gruntova.pdf">PDF</a>]</font></P>

<B><h3>Славянские и балтийские языки</h3>
</B><P><font size="4">Глаголы плавания в русском языке </font> <i> 
<font size="4">(Е. В. Рахилина)</font></i><font size="4">
[<a href="12-Rakhilina-rus.pdf">PDF</a>]</font></P>
<P><font size="4">Глаголы перемещения в воде: южнославянские языки
</font>
<i> <font size="4">(Д. С. Ганенков)</font></i><font size="4">
[<a href="13-Ganenkov.pdf">PDF</a>]</font></P>
<P><font size="4">Перемещение в воде и воды: глаголы <i> p&#322;yn&#261;&#263;</i> /
<i> p&#322;ywa&#263;</i> 'плыть / плавать' в польском языке
</font>
<i> <font size="4">(И. А. Прокофьева)</font></i><font size="4">
[<a href="14-Prokofieva.pdf">PDF</a>]</font></P>
<P><font size="4">Глаголы перемещения в воде в литовском языке
</font>
<i> <font size="4">(П. М. Аркадьев)</font></i><font size="4">
[<a href="15-Arkadiev.pdf">PDF</a>]</font></P>

<B><h3>Иранские и древнегреческий языки</h3>
</B><P><font size="4">Глаголы перемещения в воде в персидском языке
</font>
<i> <font size="4">(Ю. Л. Кузнецова)</font></i><font size="4">
[<a href="16-Kuznetsova.pdf">PDF</a>]</font></P>
<P><font size="4">Перемещение в воде в древнегреческом языке
</font>
<i> <font size="4">(М. Л. Кисилиер)</font></i><font size="4">
[<a href="17-Kisilier.pdf">PDF</a>]</font></P>

<B><h3>Уральские и тюркские языки</h3>
</B><P><font size="4">Финские глаголы со значением плавания <i> (А. Мустайоки, Е. Протасова)</i> 
[<a href="18-Mustajoki-Protassova.pdf">PDF</a>]</font></P>
<P><font size="4">Глаголы перемещения в воде в селькупском, коми и удмуртском языках
</font>
<i> <font size="4">(Н. В. Вострикова)</font></i><font size="4">
[<a href="19-Vostrikova.pdf">PDF</a>]</font></P>
<P><font size="4">Глаголы плавания в нганасанском языке </font> <i> 
<font size="4">(В. Ю. Гусев)</font></i><font size="4">
[<a href="20-Gusev.pdf">PDF</a>]</font></P>
<P><font size="4">Системы с глаголом плавания <i> *й&#1199;з- </i> в трех тюркских языках
</font>
<i> <font size="4">(Т. А. Майсак)</font></i><font size="4">
[<a href="21-Maisak-turk.pdf">PDF</a>]</font></P>

<B><h3>Семитские языки</h3>
</B><P><font size="4">Глаголы плавания в арабском языке </font> <i> 
<font size="4">(А. Б. Летучий)</font></i><font size="4">
[<a href="22-Letuchiy.pdf">PDF</a>]</font></P>
<P><font size="4">Some aspects of the Hebrew verb <i> saxah</i> 'swim' </font> <i> 
<font size="4">(M. Arad)</font></i><font size="4">
[<a href="23-Arad.pdf">PDF</a>]</font></P>

<B><h3>Языки Южной Азии</h3>
</B><P><font size="4">Глаголы перемещения в жидкой cреде и  движения жидкости в западных индоарийских языках
</font>
<i> <font size="4">(Л. В. Хохлова, Чаранджит Сингх)</font></i><font size="4">
[<a href="24-Khokhlova-Singh.pdf">PDF</a>]</font></P>
<P><font size="4">Глаголы перемещения в жидкой среде в бенгальском языке
</font>
<i> <font size="4">(Я. В. Колотова)</font></i><font size="4">
[<a href="25-Kolotova.pdf">PDF</a>]</font></P>
<P><font size="4">Глаголы перемещения в жидкости и движения жидкости в истории индоарийского
</font>
<i> <font size="4">(Б. А. Захарьин)</font></i><font size="4">
[<a href="26-Zakharyin.pdf">PDF</a>]</font></P>
<P><font size="4">Глаголы перемещения в воде в тамильском языке
</font>
<i> <font size="4">(А. А. Смирнитская)</font></i><font size="4">
[<a href="27-Smirnitskaya.pdf">PDF</a>]</font></P>
<B>
<h3>Языки Дальнего Востока и Океании</h3>
</B><P><font size="4">Глаголы перемещения в воде в китайском языке
</font>
<i> <font size="4">(М. Б. Рукодельникова)</font></i><font size="4">
[<a href="28-Rukodelnikova.pdf">PDF</a>]</font></P>
<P><font size="4">Выражение перемещения и нахождения в воде в японском языке</font><i><font size="4"> (А. С. Панина)</font></i><font size="4">
[<a href="29-Panina.pdf">PDF</a>]</font></P>
<P><font size="4">Глаголы перемещения в воде в корейском языке
</font>
<i> <font size="4">(Су Хён Ли, Т. А. Майсак)</font></i><font size="4">
[<a href="30-Lee-Maisak.pdf">PDF</a>]</font></P>
<P><font size="4">Индонезийские глаголы плавания и их система
</font>
<i> <font size="4">(Ю. А. Ландер, С. Г. Крамарова)</font></i><font size="4">
[<a href="31-Lander-Kramarova.pdf">PDF</a>]</font></P>

<B><h3>Языки Кавказа</h3>
</B><P><font size="4">Системы глаголов плавания в кавказских языках
</font>
<i> <font size="4">(Т. А. Майсак, при участии А. А. Ростовцева-Попеля и В.&nbsp;Г.&nbsp;Хуршудян)</font></i><font size="4">
[<a href="32-Maisak-cauc.pdf">PDF</a>]</font></P>

<B><h3>Языки Африки</h3>
</B><P><font size="4">Глаголы перемещения в воде в языке манинка
</font>
<i> <font size="4">(В. Ф. Выдрин)</font></i><font size="4">
[<a href="33-Vydrin.pdf">PDF</a>]</font></P>

<B><h3>Приложение</h3>
</B><P><font size="4">К типологии глаголов 'летать' и 'прыгать'
</font>
<i> <font size="4">(В. А. Плунгян, Е. В. Рахилина)</font></i><font size="4">
[<a href="34-Plungian-Rakhilina.pdf">PDF</a>]</font></P>

<h3><a href="summary.htm">Summary</a><font size="4">
[<a href="35-Summary.pdf">PDF</a>]</font></h3>
<h3><a href="authors.htm">Сведения об авторах</a>  <font size="4">
[<a href="36-Authors.pdf">PDF</a>]</font></h3>
<p>&nbsp;</p>
<p align="center"><font color="#FF0000"><b>Примечание</b>:
</font><br>
<font color="#FF0000">Вид статей в файлах, в том числе нумерация страниц, 
полностью соответствуют печатному варианту книги; <br>
тем самым, Вы можете ссылаться на данные статьи, указывая необходимые страницы 
по файлу.</font></p>

</blockquote>

<hr>

<blockquote>
<p align="center">Сайт создан в 2006 г. при финансовой поддержке<br>
<a href="http://www.rfbr.ru" target="_blank"><b>Российского фонда
фундаментальных исследований</b></a><br>
(грант № 05-06-80400а)
</blockquote>

</body>

</html>
